:root {
  --menu-width-expanded: 200px;
  --menu-width-retracted: 50px;
  --menu-transition: all 0.2s ease;
}

body {
  margin: 0px;
}

.navbar {
  height: 50px;
}

.navbar .navbar-brand {
  width: 30px;
}

.navbar .navbar-user {
  display: none;
}

footer, .footer {
  height: 50px;
}

.fa-github, .funding-text, .partner-text, .funding, .partners {
  display: none;
}

.menu-btn {
  color: #222;
  background-color: #C3E5D5;
  border: none;
  opacity: 0.3;
  transition: opacity 0.3s ease, background-color 0.3s ease;
}

.menu-btn:hover {
  opacity: 1;
  color: #fff;
  background-color: #6976B7;
}

.btn, .btn:focus, .btn:active {
   outline: none !important;
   box-shadow: none;
}

.hidden {
  opacity: 0;
  display: none !important;
  visibility: hidden !important;
  transition: var(--menu-transition);
}

#menu {
  transition: var(--menu-transition);
  position: fixed;
  height: 100%;
  padding: 5px;
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  overflow-y: auto;
}

#menu::-webkit-scrollbar {
  display: none;
}

#menu hr {
  width: calc(100% + 10px);
  margin-left: -5px;
  margin-right: -5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0;
  border-top: 1px solid #fff;
}

#menu.expanded {
  width: var(--menu-width-expanded);
}

#menu.retracted {
  width: var(--menu-width-retracted);
}

#content {
  margin-left: var(--menu-width-expanded);
  transition: margin-left var(--menu-transition);
}

#menu.expanded + #content {
  margin-left: var(--menu-width-expanded);
}

#menu.retracted + #content {
  margin-left: var(--menu-width-retracted);
}

#menu.expanded + #navbar {
  margin-left: var(--menu-width-expanded);
  width: var(--navbar-width-expanded);
}

#menu.retracted ~ #navbar {
  margin-left: var(--menu-width-retracted);
  width: var(--navbar-width-retracted);
}


#menuTitle {
  font-size: 20px;
  flex-grow: 1;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  max-width: 0;
  opacity: 1;
  margin: 0;
  padding: 0;
  max-height: 0;
  width: 0;
  height: 0;
}

.menu-txt {
  transition: max-width 0.2s ease, opacity 0.2s ease, transform 0.2s ease;
  transform: translateX(0);
  transform-origin: right center;
  text-align: left;
}

#menu.retracted #menuTitle {
  opacity: 0;
  transform: translateX(-100%);
}

#menuTitle.show {
  max-width: 100%;
  opacity: 1;
  max-height: initial;
  width: auto;
  height: auto;
}

#menuHeader {
  display: flex;
  align-items: center;
}

.menu-toggle-btn {
  opacity: 1;
  visibility: visible;
  flex-shrink: 0;
  width: 40px;
  height: 40px
}

.menu-toggle-btn.hidden {
  opacity: 0;
  visibility: hidden;
}

#dsSelect {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#dsExpanded {
  justify-content: space-between;
  align-items: center;
}

#dsOptions {
  overflow: hidden;
  height: 0;
  transition: all 0.3s ease;
}

#dsOptions a {
  margin-top: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
}

#dsOptions.show {
  height: auto;
}

.ds-btn {
  font-size: 0.875rem;
  height: 30px;
  padding: 2px;
}

.ds-btn:hover {
  background-color: #6976B7;
  transition: background-color 0.3s ease;
}

.ds-btn.selected {
  background-color: #6976B7;
  color: #fff;
}

.ds-toggle-btn {
  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 1;
  visibility: visible;
  flex-shrink: 0;
  width: 100%;
  height: 40px
}

.fa-chevron-down, .fa-chevron-up {
  font-size: 0.75rem;
}

.expanded-icon {
  transform: rotate(90deg);
}
