body {
  margin: 0px;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

.hidden {
  opacity: 0;
  display: none !important;
  visibility: hidden !important;
  transition: all 0.2s ease;
}

.visible {
  opacity: 1;
  display: block !important;
  visibility: visible !important;
  transition: all 0.2s ease;
}

#menu {
  transition: all 0.2s ease;
  height: 100%;
  padding: 5px;
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.3);
}

#menu hr {
  width: calc(100% + 10px);
  margin-left: -5px;
  margin-right: -5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0;
  border-top: 1px solid #fff;
}

#menu.expanded {
  max-width: 200px;
}

#menu.retracted {
  max-width: 50px;
}

#menuTitle {
  font-size: 20px;
  flex-grow: 1;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  max-width: 0;
  opacity: 1;
  margin: 0;
  padding: 0;
  max-height: 0;
  width: 0;
  height: 0;
}

.menu-btn {
  transition: all 0.3s ease;
}

.menu-txt {
  transition: max-width 0.2s ease, opacity 0.2s ease, transform 0.2s ease;
  transform: translateX(0);
  transform-origin: right center;
}

#menu.retracted #menuTitle {
  opacity: 0;
  transform: translateX(-100%);
}

#menuTitle.show {
  max-width: 100%;
  opacity: 1;
  max-height: initial;
  width: auto;
  height: auto;
}

#menuHeader {
  display: flex;
  align-items: center;
}

.menu-toggle-btn {
  opacity: 1;
  visibility: visible;
  flex-shrink: 0;
  width: 40px;
  height: 40px
}

.menu-toggle-btn.hidden {
  opacity: 0;
  visibility: hidden;
}

#dsSelect {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#dsRetracted, #dsExpanded {
  transition: none;
}

#dsExpanded {
  display: flex;
  justify-content: space-between;
}

#dsOptions.collapsing {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}

#dsOptions.show {
  height: auto;
}

#dsOptions.expanding {
  overflow: hidden;
  transition: height 0.3s ease;
}

.ds-toggle-btn {
  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 1;
  visibility: visible;
  flex-shrink: 0;
  width: 100%;
  height: 40px
}

.fa-chevron-down, .fa-chevron-up {
  font-size: 0.75rem;

}

.expanded-icon {
  transform: rotate(90deg);
}
