@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');

.font-golos {
  font-family: 'Golos Text', sans-serif;
}

html {
  overflow-y: scroll;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
    flex-grow: 1;
}
