.container-xxl {
  display: flex;
  margin-top: 3rem;
}

.profile {
  flex: 1;
  margin-right: 2.5%;
  position: relative;
  max-width: 20%;
}

.avatar {
  align-items: center;
  display: flex;
  margin-top: 5%;
  margin-bottom: 5%;
  justify-content: center;
  align-items: center;
}

.avatar img {
  border-radius: 50%;
  width: 70%;
  height: auto;
}

.name {
  text-align: center;
  font-size: 1.5em;
  position: relative;
}

.name .fa-pencil {
  font-size: 0.55em;
  position: absolute;
}

.profile-items {
  padding-left: 0.5em;
  padding-top: 0.2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 3em;
  gap: 10px;
}

.item {
  display: flex;
  gap: 2px;
}

.item-icon {
  display: flex;
  width: 30px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.item-text {
  flex: 1;
  position: relative;
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content {
  flex: 4;
}

.content h2 {
  text-align: center;
}

@media (max-width: 1200px) {
  .profile {
    display: none;
  }
}
