{% load i18n %}

<center><h1>episcanner</h1></center>
<center><hr></center>

<p>
This endpoint retrieves information from the <a href="https://info.dengue.mat.br/epi-scanner/">Epi-Scanner</a>
project, which provide analyzed data of the expansion of dengue, zika and chikungunya in Brazil using up-to-date incidence data from Infodengue.
</p>

<div class="row mb-3">
    <div class="col">
        <label>{% translate "Disease" %}:</label><span class="required" style="color:red;">&nbsp;*</span>
        <select id="episcanner-select-disease" name="episcanner-disease" class="form-control">
            {% for value, label in diseases %}
            <option value="{{ value }}" {% if value == "dengue" %}selected{% endif %}>
            {{ label }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div class="col">
        <label>{% translate "UF" %}:</label><span class="required" style="color:red;">&nbsp;*</span>
        <select id="episcanner-select-uf" name="episcanner-uf" class="form-control">
            <option value="">
            {% for value, label in UFs %}
            <option value="{{ value }}">
            {{ value }} - {{ label }}
            </option>
            {% endfor %}
        </select>
    </div>
</div>
<span class="required" style="color:red;">&nbsp;*</span> {% translate "Required inputs" %}

<center><hr></center>

<div class="episcanner-api-url">
    <a id="episcanner-api-url" href="#" target="_blank"></a>
</div>

<style>
    .episcanner-api-url {
      width: 100%;
      overflow-x: auto;
    }

    #episcanner-api-url {
      white-space: nowrap;
      color: black;
      text-decoration: none;
    }

    #episcanner-api-url:hover {
      text-decoration: underline;
    }
</style>

<script>
    const episcannerApiUrl = document.getElementById("episcanner-api-url");
    const episcannerDefaultApiUrl = "https://api.mosqlimate.org/api/datastore/episcanner/?";

    const episcannerDisease = document.getElementById("episcanner-select-disease");
    const episcannerUf = document.getElementById("episcanner-select-uf");

    episcannerDisease.addEventListener("change", updateEpiscannerUrl);
    episcannerUf.addEventListener("change", updateEpiscannerUrl);

    function updateEpiscannerUrl() {
      const updatedEpiscannerUrl = buildApiUrl(
          episcannerDisease.value, 
          episcannerUf.value
      );
      updateApiUrl(updatedEpiscannerUrl);
    }

    function buildApiUrl(
        episcannerDiseaseValue, 
        episcannerUfValue
    ) {
      const episcannerDiseasePart = "disease=" + episcannerDiseaseValue;
      const episcannerUfPart = "&uf=" + episcannerUfValue;
      return episcannerDefaultApiUrl + episcannerDiseasePart + episcannerUfPart;
    }

    function updateApiUrl(updatedEpiscannerUrl) {
      episcannerApiUrl.textContent = updatedEpiscannerUrl;
      episcannerApiUrl.href = updatedEpiscannerUrl;
    }
</script>
