{% load i18n %}

<center><h1>episcanner</h1></center>
<center><hr></center>

<p>
This endpoint retrieves information from the <a href="https://info.dengue.mat.br/epi-scanner/" target="_blank">Epi-Scanner</a>
project, which provide analyzed data of the expansion of dengue, zika and chikungunya in Brazil
using up-to-date incidence data from Infodengue. Access the dataset documentation <a href="https://api.mosqlimate.org/docs/datastore/GET/episcanner/" target="_blank">here</a>.
<br>
<i>If no year is provided, the default value will be the current year.</i>
</p>

<div class="row mb-3">
    <div class="col">
        <label>{% translate "Disease" %}:</label><span class="required" style="color:red;">&nbsp;*</span>
        <select id="episcanner-select-disease" name="episcanner-disease" class="form-control">
            {% for value, label in diseases %}
            <option value="{{ value }}" {% if value == "dengue" %}selected{% endif %}>
            {{ label }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div class="col">
        <label>{% translate "UF" %}:</label><span class="required" style="color:red;">&nbsp;*</span>
        <select id="episcanner-select-uf" name="episcanner-uf" class="form-control">
            <option value="">
            {% for value, label in UFs %}
            <option value="{{ value }}">
            {{ value }} - {{ label }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div class="col">
        <label>{% translate "Year" %}:</label>
        <input
            type="text"
            min="0"
            id="episcanner-select-year"
            name="episcanner-year"
            value=""
            class="form-control"
            maxlength="4"
            onkeydown="return (event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105) || event.keyCode == 8;"
            oninput="this.value=this.value.slice(0,this.maxLength)"
            placeholder="{{year}}"
        >
    </div>
</div>
<span class="required" style="color:red;">&nbsp;*</span> {% translate "Required inputs" %}

<center><hr></center>

<div class="episcanner-api-url">
    <a id="episcanner-api-url" href="#" target="_blank"></a>
</div>

<style>
    .episcanner-api-url {
      width: 100%;
      overflow-x: auto;
    }

    #episcanner-api-url {
      white-space: nowrap;
      color: black;
      text-decoration: none;
    }

    #episcanner-api-url:hover {
      text-decoration: underline;
    }
</style>

<script>
    const episcannerApiUrl = document.getElementById("episcanner-api-url");
    const episcannerDefaultApiUrl = "https://api.mosqlimate.org/api/datastore/episcanner/?";

    const episcannerDisease = document.getElementById("episcanner-select-disease");
    const episcannerUf = document.getElementById("episcanner-select-uf");
    const episcannerYear = document.getElementById("episcanner-select-year");

    episcannerDisease.addEventListener("change", updateEpiscannerUrl);
    episcannerUf.addEventListener("change", updateEpiscannerUrl);
    episcannerYear.addEventListener("input", updateEpiscannerUrl);

    function updateEpiscannerUrl() {
      const updatedEpiscannerUrl = buildEpiscannerApiUrl(
          episcannerDisease.value, 
          episcannerUf.value,
          episcannerYear.value
      );
      updateEpiscannerApiUrl(updatedEpiscannerUrl);
    }

    function buildEpiscannerApiUrl(
        episcannerDiseaseValue, 
        episcannerUfValue,
        episcannerYearValue
    ) {
      const episcannerDiseasePart = "disease=" + episcannerDiseaseValue;
      const episcannerUfPart = episcannerUfValue.trim() !== "" ? "&uf=" + episcannerUfValue : "";
      const episcannerYearPart = episcannerYearValue.trim() !== "" ? "&year=" +  episcannerYearValue: "";
      return episcannerDefaultApiUrl + episcannerDiseasePart + episcannerUfPart + episcannerYearPart;
    }

    function updateEpiscannerApiUrl(updatedEpiscannerUrl) {
      episcannerApiUrl.textContent = updatedEpiscannerUrl;
      episcannerApiUrl.href = updatedEpiscannerUrl;
    }
</script>
