{% load i18n %}

<center><h1>mosquito</h1></center>

<center><hr></center>

<div class="alert alert-warning" role="alert">
  <p>This endpoint is a redirect to the <a href="https://contaovos.dengue.mat.br/">Contaovos API</a>, co-developed by the Mosqlimate project. These data are based on egg traps distributed throughout Brasil according to a monitoring design specified by the Ministry of Health.</p>
</div>

<div class="row mb-3">
    <div class="col">
        <label>{% translate "Start" %}:</label>
        <input id="mosquito-select-start" name="mosquito-start" class="form-control" type="date">
    </div>
    <div class="col">
        <label>{% translate "End" %}:</label>
        <input id="mosquito-select-end" name="mosquito-end" class="form-control" type="date">
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <label>{% translate "Page" %}:</label>
        <input
            type="number"
            min="1"
            id="mosquito-select-page"
            name="mosquito-page"
            value=""
            class="form-control"
        >
    </div>
    <div class="col">
        <label>{% translate "State" %}:</label>
        <input
            type="text"
            id="mosquito-select-state"
            name="mosquito-state"
            value=""
            class="form-control"
            placeholder="MG"
            maxlength="2"
            oninput="this.value=this.value.toUpperCase()"
        >
    </div>
    <div class="col">
        <label>{% translate "Municipality" %}:</label>
        <input
            type="text"
            id="mosquito-select-municipality"
            name="mosquito-municipality"
            value=""
            class="form-control"
        >
    </div>
</div>

<center><hr></center>

<div class="mosquito-api-url">
    <a id="mosquito-api-url" href="#" target="_blank"></a>
</div>

<style>
    .mosquito-api-url {
      width: 100%;
      overflow-x: auto;
    }

    #mosquito-api-url {
      white-space: nowrap;
      color: black;
      text-decoration: none;
    }

    #mosquito-api-url:hover {
      text-decoration: underline;
    }
</style>

<script>
  const mosquitoApiUrl = document.getElementById("mosquito-api-url");
  const defaultMosquitoApiUrl = "https://api.mosqlimate.org/api/datastore/mosquito/?";

  const mosquitoStart = document.getElementById("mosquito-select-start");
  const mosquitoEnd = document.getElementById("mosquito-select-end");
  const mosquitoPage = document.getElementById("mosquito-select-page");
  const mosquitoState = document.getElementById("mosquito-select-state");
  const mosquitoMunicipality = document.getElementById("mosquito-select-municipality");

  mosquitoStart.addEventListener("input", updateMosquitoUrl);
  mosquitoEnd.addEventListener("input", updateMosquitoUrl);
  mosquitoPage.addEventListener("input", updateMosquitoUrl);
  mosquitoState.addEventListener("input", updateMosquitoUrl);
  mosquitoMunicipality.addEventListener("input", updateMosquitoUrl);

  function updateMosquitoUrl() {
    const updatedMosquitoUrl = buildMosquitoApiUrl(
      mosquitoStart.value,
      mosquitoEnd.value,
      mosquitoPage.value,
      mosquitoState.value,
      mosquitoMunicipality.value,
    );
    updateMosquitoApiUrl(updatedMosquitoUrl);
  }

  function buildMosquitoApiUrl(
    mosquitoStart = null,
    mosquitoEnd = null,
    mosquitoPage = null,
    mosquitoState = null,
    mosquitoMunicipality = null
  ) {
    let url = defaultMosquitoApiUrl;
    let params = new URLSearchParams();

    if (mosquitoStart) params.append("date_start", mosquitoStart);
    if (mosquitoEnd) params.append("date_end", mosquitoEnd);
    if (mosquitoPage) params.append("page", mosquitoPage);
    if (mosquitoState) params.append("state", mosquitoState);
    if (mosquitoMunicipality) params.append("municipality", mosquitoMunicipality);

    return params.toString() ? url + (url.endsWith("?") ? "" : "?") + params.toString() : url;
  }

  function updateMosquitoApiUrl(updatedMosquitoUrl) {
    mosquitoApiUrl.textContent = updatedMosquitoUrl;
    mosquitoApiUrl.href = updatedMosquitoUrl;
  }

  updateMosquitoUrl();
</script>
