{% extends 'main/base.html' %}
{% block title %}{{ user_profile.username }}{% endblock %}

{% load static %}
{% load profile_component %}

{% block head %}
{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/users/profile.css' %}">
<div class="container-xxl font-golos">
  <div class="profile">
    <div class="avatar">
      <img class="border border-5 shadow p-1" src="{{ user_avatar }}"></img>
    </div>

    <div class="name">
      <span>{{ user_profile.name }}</span>
      {% if user.username == user_profile.username %}
      <a href="#"><i class="fa-solid fa-pencil" style="color: #9a9996;"></i></a>
      {% endif %}
    </div>

    <center><hr style="width:30%;"></center>
    
    <div class="profile-items">
      {% if user_author.institution %}
      <div class="item institution">
        <div class="item-icon">
          <i class="fas fa-building" style="color: #5e5c64;"></i>
        </div>
        <div class="item-text">
          <span>{{ user_author.institution }}</span>
        </div>
        {% if user.username == user_profile.username %}
        {% endif %}
      </div>
      {% else %}
      <div class="item update-institution">
        {% if user.username == user_profile.username %}
        <div class="item-icon">
          <i class="fas fa-building" style="color: #5e5c64;"></i>
        </div>
        <div class="item-text">
          <a href="#"><i class="fa-solid fa-plus" style="color: #9a9996;"></i></a>
        </div>
        {% endif %}
      </div>
      {% endif %}

      <div class="item models-count">
        <div class="item-icon">
          <i class="fa-solid fa-scroll" style="color: #5e5c64;"></i>
        </div>
        <div class="item-text">
        <span>{{ user_models.count }} {% if user_models.count > 1 %}Models{% else %}Model{% endif %}</span>
        </div>
      </div>

      <div class="item predictions-count">
        <div class="item-icon">
          <i class="fa-solid fa-code" style="color: #5e5c64;"></i>
        </div>
        <div class="item-text">
          <span>{{ user_predictions.count }} {% if user_predictions.count > 1 %}Predictions{% else %}Prediction{% endif %}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="content container models shadow p-4 mb-6 bg-body rounded"
    <!-- Models -->
    {% models_box %}

    <!-- X-UID-Key -->
    {% if user.username == user_profile.username %}
    <div class="container x-uid-key shadow p-3 mb-5 bg-body rounded">
      <div> 
        <h4>X-UID-Key:</h4>
      </div>
      <div class="toggle-container">
        <button id="uid-key" onclick="toggleSecret('uid-key-secret'); toggleButtonText('uid-key');">Show</button>
        <div id="uid-key-secret" style="display: none;">
          {{ user.username }}:{{ user.uuid }}
        </div>
      </div>
    </div>
    {% endif %}
  </div>

  <link rel="stylesheet" href="{% static 'css/external/datatables.css' %}">
  <link rel="stylesheet" href="{% static 'css/external/datatables-bs5.css' %}">
  <link rel="stylesheet" href="{% static 'css/external/highlight.css' %}">
  <link rel="stylesheet" href="{% static 'css/users/components/models-box.css' %}">
  <script src="{% static 'js/external/datatables.js' %}"></script>
  <script src="{% static 'js/external/datatables-bs5.js' %}"></script>
  <script src="{% static 'js/external/highlight.js' %}"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <script src="{% static 'js/users/components/models-box.js' %}"></script>
</div>

<script>
function toggleSecret(elementId) {
  var element = document.getElementById(elementId);
  if (element.style.display === "none") {
    element.style.display = "block";
  } else {
    element.style.display = "none";
  }
}

function toggleButtonText(buttonId) {
  var button = document.getElementById(buttonId);
  if (button.innerHTML === "Show") {
    button.innerHTML = "Hide";
  } else {
    button.innerHTML = "Show";
  }
}
</script>
{% endblock %}
