version: '3.8'

services:
  django:
    hostname: django
    restart: unless-stopped
    build:
      context: ..
      dockerfile: containers/mosqlimate/Dockerfile
      args:
        # note: if you want to use a specific UID and GID, ensure to add it to
        #       the .env file
        - UID=${HOST_UID}
        - GID=${HOST_GID}
        - DJANGO_CONTAINER_DATA_PATH=${DJANGO_CONTAINER_DATA_PATH}
        - STATIC_ROOT=${STATIC_ROOT:-/tmp/mosqlimate/static}
    env_file:
      - ../.env
    user: "mosqlimate:mosqlimate"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://0.0.0.0:${DJANGO_PORT}/status"]
      interval: 60s
      timeout: 10s
      retries: 5
      start_period: 40s
    expose:
      - ${DJANGO_PORT}
    # depends_on:
    #   postgres:
    #     condition: service_healthy
    command: python manage.py runserver 0.0.0.0:${DJANGO_PORT}
    volumes:
      - django_data:${DJANGO_CONTAINER_DATA_PATH}
      - static_root:${STATIC_ROOT:-/tmp/mosqlimate/static}

  postgres:
    hostname: postgres
    restart: unless-stopped
    build:
      context: ..
      dockerfile: containers/postgres/Dockerfile
      args:
        # note: if you want to use a specific UID and GID, ensure to add it to
        #       the .env file
        - UID=${POSTGRES_HOST_UID}
        - GID=${POSTGRES_HOST_GID}
        - environment=${ENV}
    env_file:
      - ../.env
    ports:
      - ${POSTGRES_PORT}:${POSTGRES_PORT}
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
    user: "${POSTGRES_HOST_UID}:${POSTGRES_HOST_GID}"
    volumes:
      - ${POSTGRES_CONF_DIR_HOST}/postgresql.conf:/etc/postgresql/postgresql.conf:ro
      - ${POSTGRES_DATA_DIR_HOST}:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -p ${POSTGRES_PORT} -U ${POSTGRES_USER}"]
      interval: 60s
      timeout: 5s
      retries: 10
    command: -p ${POSTGRES_PORT}

volumes:
  django_data:
  static_root:
