services:
  frontend:
    container_name: mosqlimate-frontend
    build:
      context: ..
      dockerfile: containers/frontend/Dockerfile
      args:
        - UID=${HOST_UID}
        - GID=${HOST_GID}
    env_file:
      - ../.env
    ports:
      - ${FRONTEND_PORT}:3000
    restart: unless-stopped


  django:
    hostname: mosqlimate-django
    restart: unless-stopped
    environment:
      RUN_MIGRATE: 1 # CI
      PYTHONUNBUFFERED: 1
    build:
      context: ..
      dockerfile: containers/mosqlimate/Dockerfile
      args:
        # note: if you want to use a specific UID and GID, ensure to add it to
        #       the .env file
        - UID=${HOST_UID}
        - GID=${HOST_GID}
        - DJANGO_CONTAINER_DATA_PATH=${DJANGO_CONTAINER_DATA_PATH}
    env_file:
      - ../.env
    user: "mosqlimate:mosqlimate"
    volumes:
      - ${EPISCANNER_HOST_DATA_DIR}:${DJANGO_CONTAINER_DATA_PATH}/episcanner
    healthcheck:
      test: ["CMD", "curl", "-f", "http://0.0.0.0:${DJANGO_PORT}/status"]
      interval: 60s
      timeout: 10s
      retries: 5
      start_period: 40s
    depends_on:
      postgres:
        condition: service_healthy
    command: daphne -b 0.0.0.0 -p ${DJANGO_PORT} mosqlimate.asgi:application
    networks:
      - mosqlimate

  worker:
    hostname: mosqlimate-worker
    restart: unless-stopped
    build:
      context: ..
      dockerfile: containers/mosqlimate/Dockerfile
      args:
        - UID=${HOST_UID}
        - GID=${HOST_GID}
        - DJANGO_CONTAINER_DATA_PATH=${DJANGO_CONTAINER_DATA_PATH}
    env_file:
      - ../.env
    ports:
      - ${WORKER_PORT}:${WORKER_PORT}
    user: "mosqlimate:mosqlimate"
    command: celery -A mosqlimate worker -l INFO -E -B --scheduler django_celery_beat.schedulers:DatabaseScheduler
    healthcheck:
      test: ["CMD-SHELL", 'celery --app mosqlimate.celeryapp.app status']
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 30s
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - mosqlimate

  postgres:
    hostname: mosqlimate-postgres
    restart: unless-stopped
    build:
      context: ..
      dockerfile: containers/postgres/Dockerfile
      args:
        - UID=${POSTGRES_HOST_UID}
        - GID=${POSTGRES_HOST_GID}
        - environment=${ENV}
    env_file:
      - ../.env
    ports:
      - ${POSTGRES_PORT}:${POSTGRES_PORT}
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
    user: "${POSTGRES_HOST_UID}:${POSTGRES_HOST_GID}"
    volumes:
      - ../containers/postgres/scripts:/docker-entrypoint-initdb.d/
      - ${POSTGRES_CONF_DIR_HOST}/postgresql.conf:/etc/postgresql/postgresql.conf
      - ${POSTGRES_DATA_DIR_HOST}:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -p ${POSTGRES_PORT} -U ${POSTGRES_USER}"]
      interval: 60s
      timeout: 5s
      retries: 10
    command: ["-p", "${POSTGRES_PORT}", "-c", "config_file=/etc/postgresql/postgresql.conf"]
    networks:
      - mosqlimate

  documentation:
    hostname: mosqlimate-docs
    restart: unless-stopped
    build:
      context: ..
      dockerfile: containers/mkdocs/Dockerfile
    env_file:
      - ../.env
    ports:
      - ${MKDOCS_PORT}:8000
    volumes:
      - ../mkdocs:/root
    stdin_open: true
    tty: true
    entrypoint: ["/entrypoint.sh"]
    depends_on:
      django:
        condition: service_healthy
    networks:
      - mosqlimate

  redis:
    platform: linux/amd64
    image: redis:alpine
    hostname: mosqlimate-redis
    restart: unless-stopped
    # environment:
      # DISABLE_COMMANDS: "FLUSHDB,FLUSHALL,CONFIG"
      # ALLOW_EMPTY_PASSWORD: "no"
      # REDIS_PASSWORD: "${REDIS_PASSWORD}"
    ports:
      - ${REDIS_PORT}:6379
    healthcheck:
      test: ["CMD", "redis-cli","ping"]
      interval: 60s
      timeout: 5s
      retries: 5
      start_period: 30s
    volumes:
      - redis:/data
    networks:
      - mosqlimate

  ollama:
    image: ollama/ollama
    hostname: mosqlimate-ollama
    ports:
      - 11434:11434
    volumes:
      - ollama:/root/.ollama
    networks:
      - mosqlimate
    restart: unless-stopped

networks:
  mosqlimate:
    driver: bridge

volumes:
  redis:
  ollama:
