services:
  frontend:
    hostname: mosqlimate-${VERSION}-frontend
    command: npm run start
    build:
      context: ..
      dockerfile: containers/frontend/Dockerfile
      args:
        - UID=${HOST_UID}
        - GID=${HOST_GID}
        - PORT=${FRONTEND_PORT}
        - NEXT_PUBLIC_BACKEND_URL=${BACKEND_URL}
        - NEXT_PUBLIC_DOCS_URL=${DOCS_URL}
    environment:
        PORT: ${FRONTEND_PORT}
        NEXT_PUBLIC_FRONTEND_URL: ${FRONTEND_URL}
        NEXT_PUBLIC_BACKEND_URL: ${BACKEND_URL}
        NEXT_PUBLIC_DOCS_URL: ${DOCS_URL}
    ports:
      - ${FRONTEND_PORT}:${FRONTEND_PORT}
    env_file:
      - ../.env
    user: "mosqlimate:mosqlimate"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:${FRONTEND_PORT}"]
      interval: 60s
      timeout: 10s
      retries: 5
      start_period: 40s
    networks:
      - default

  backend:
    hostname: mosqlimate-${VERSION}-backend
    environment:
      RUN_MIGRATE: ${CI}
      PYTHONUNBUFFERED: 1
    build:
      context: ..
      dockerfile: containers/mosqlimate/Dockerfile
      args:
        - UID=${HOST_UID}
        - GID=${HOST_GID}
        - BACKEND_CONTAINER_DATA_PATH=${BACKEND_CONTAINER_DATA_PATH}
    ports:
      - ${BACKEND_PORT}:${BACKEND_PORT}
    env_file:
      - ../.env
    user: "mosqlimate:mosqlimate"
    volumes:
      - ${EPISCANNER_HOST_DATA_DIR}:${BACKEND_CONTAINER_DATA_PATH}/episcanner
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://0.0.0.0:${BACKEND_PORT}/api/status/"]
      interval: 60s
      timeout: 10s
      retries: 5
      start_period: 40s
    depends_on:
      postgres:
        condition: service_healthy
    command: daphne -b 0.0.0.0 -p ${BACKEND_PORT} mosqlimate.asgi:application
    networks:
      - default

  worker:
    hostname: mosqlimate-${VERSION}-worker
    restart: unless-stopped
    build:
      context: ..
      dockerfile: containers/mosqlimate/Dockerfile
      args:
        - UID=${HOST_UID}
        - GID=${HOST_GID}
        - BACKEND_CONTAINER_DATA_PATH=${BACKEND_CONTAINER_DATA_PATH}
    env_file:
      - ../.env
    ports:
      - ${WORKER_PORT}:${WORKER_PORT}
    user: "mosqlimate:mosqlimate"
    command: celery -A mosqlimate worker -l INFO -E -B --scheduler django_celery_beat.schedulers:DatabaseScheduler
    healthcheck:
      test: ["CMD-SHELL", 'celery --app mosqlimate.celeryapp.app status']
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 30s
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - default

  postgres:
    hostname: mosqlimate-${VERSION}-postgres
    restart: unless-stopped
    build:
      context: ..
      dockerfile: containers/postgres/Dockerfile
      args:
        - UID=${POSTGRES_HOST_UID}
        - GID=${POSTGRES_HOST_GID}
        - environment=${ENV}
    env_file:
      - ../.env
    ports:
      - ${POSTGRES_PORT}:${POSTGRES_PORT}
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
    user: "${POSTGRES_HOST_UID}:${POSTGRES_HOST_GID}"
    volumes:
      - ../containers/postgres/scripts:/docker-entrypoint-initdb.d/
      - ${POSTGRES_CONF_DIR_HOST}/postgresql.conf:/etc/postgresql/postgresql.conf
      - ${POSTGRES_DATA_DIR_HOST}:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -p ${POSTGRES_PORT} -U ${POSTGRES_USER}"]
      interval: 60s
      timeout: 5s
      retries: 10
    command: ["-p", "${POSTGRES_PORT}", "-c", "config_file=/etc/postgresql/postgresql.conf"]
    networks:
      - default

  documentation:
    hostname: mosqlimate-${VERSION}-docs
    restart: unless-stopped
    build:
      context: ..
      dockerfile: containers/mkdocs/Dockerfile
    env_file:
      - ../.env
    ports:
      - ${MKDOCS_PORT}:8000
    volumes:
      - ../mkdocs:/root
    stdin_open: true
    tty: true
    entrypoint: ["/entrypoint.sh"]
    depends_on:
      backend:
        condition: service_healthy
    networks:
      - default

  broker:
    platform: linux/amd64
    image: redis:alpine
    hostname: mosqlimate-${VERSION}-redis
    restart: unless-stopped
    command: redis-server --port ${REDIS_PORT}
    ports:
      - ${REDIS_PORT}:${REDIS_PORT}
    healthcheck:
      test: ["CMD", "redis-cli", "-p", "${REDIS_PORT}", "ping"]
      interval: 60s
      timeout: 5s
      retries: 5
      start_period: 30s
    volumes:
      - redis:/data
    networks:
      - default

  ollama:
    image: ollama/ollama
    hostname: mosqlimate-${VERSION}-ollama
    ports:
      - 11434:11434
    volumes:
      - ollama:/root/.ollama
    restart: unless-stopped
    networks:
      - default

volumes:
  redis:
  ollama:
