{% extends 'main/base.html' %}
{% load i18n %}
{% load plotly_dash %}
{% load filters %}

{% block title %}{% translate "Visualization" %}{% endblock %}

{% block content %}
<div style="display:flex;">
    <div class="vis-sidebar d-flex flex-column flex-shrink-0 bg-dark">
        <div class="sidebar-menu">
            <div class="p-3">
                <center><b>
                    <label for="diseaseRadio" class="text-white">{% trans "Disease" %}</label>
                </b></center>
                <div class="form-check">
                  <input 
                  class="form-check-input" 
                  type="radio" 
                  name="diseaseRadio" 
                  id="dengue"
                  {% if "dengue" not in diseases %}disabled{% endif %}
                  >
                  <label class="form-check-label text-white" for="dengue">Dengue</label>
                </div>
                <div class="form-check">
                  <input 
                  class="form-check-input" 
                  type="radio" 
                  name="diseaseRadio" 
                  id="zika"
                  {% if "zika" not in diseases %}disabled{% endif %}
                  >
                  <label class="form-check-label text-white" for="zika">Zika</label>
                </div>
                <div class="form-check">
                  <input 
                  class="form-check-input" 
                  type="radio" 
                  name="diseaseRadio" 
                  id="chik"
                  {% if "chikungunya" not in diseases %}disabled{% endif %}
                  >
                  <label class="form-check-label text-white" for="chik">Chikungunya</label>
                </div>

                <hr style="color:white;">

                <center><b>
                    <label for="timeResRadio" class="text-white">{% trans "Temporal Resolution" %}</label>
                </b></center>
                <div class="form-check">
                  <input 
                  class="form-check-input" 
                  type="radio" 
                  name="timeResRadio" 
                  id="day"
                  {% if "day" not in time_resolutions %}disabled{% endif %}
                  >
                  <label class="form-check-label text-white" for="day">Daily</label>
                </div>
                <div class="form-check">
                  <input 
                  class="form-check-input" 
                  type="radio" 
                  name="timeResRadio" 
                  id="week"
                  {% if "week" not in time_resolutions %}disabled{% endif %}
                  >
                  <label class="form-check-label text-white" for="week">Weekly</label>
                </div>
                <div class="form-check">
                  <input 
                  class="form-check-input" 
                  type="radio" 
                  name="timeResRadio" 
                  id="month"
                  {% if "month" not in time_resolutions %}disabled{% endif %}
                  >
                  <label class="form-check-label text-white" for="month">Monthly</label>
                </div>
                <div class="form-check">
                  <input 
                  class="form-check-input" 
                  type="radio" 
                  name="timeResRadio" 
                  id="year"
                  {% if "year" not in time_resolutions %}disabled{% endif %}
                  >
                  <label class="form-check-label text-white" for="year">Yearly</label>
                </div>

                <hr style="color:white;">

                <center><b>
                    <label for="admLevelRadio" class="text-white">{% trans "Administrative Level" %}</label>
                </b></center>
                <div class="form-check">
                  <input 
                  class="form-check-input" 
                  type="radio" 
                  name="admLevelRadio" 
                  id="national"
                  value=0
                  {% if 0 not in adm_levels %}disabled{% endif %}
                  >
                  <label class="form-check-label text-white" for="national">National</label>
                </div>
                <div class="form-check">
                  <input 
                  class="form-check-input" 
                  type="radio" 
                  name="admLevelRadio" 
                  id="state"
                  value=1
                  {% if 1 not in adm_levels %}disabled{% endif %}
                  >
                  <label class="form-check-label text-white" for="state">State</label>
                </div>
                <div class="form-check">
                  <input 
                  class="form-check-input" 
                  type="radio" 
                  name="admLevelRadio" 
                  id="municipal"
                  value=2
                  {% if 2 not in adm_levels %}disabled{% endif %}
                  >
                  <label class="form-check-label text-white" for="municipal">Municipal</label>
                </div>
                <div class="form-check">
                  <input 
                  class="form-check-input" 
                  type="radio" 
                  name="admLevelRadio" 
                  id="submunicipal"
                  value=3
                  {% if 3 not in adm_levels %}disabled{% endif %}
                  >
                  <label class="form-check-label text-white" for="submunicipal">Sub Municipal</label>
                </div>

                <hr style="color:white;">

                <center><b>
                    <label for="modelType" class="text-white">{% trans "Model Type" %}</label>
                </b></center>
                <div class="form-check">
                  <input 
                  class="form-check-input" 
                  type="checkbox" 
                  value="" 
                  id="spatialType" 
                  {% if "spatial" not in model_types %}disabled{% endif %}
                  >
                  <label class="form-check-label text-white" for="spatialType">
                    Spatial
                  </label>
                </div>
                <div class="form-check">
                  <input
                  class="form-check-input" 
                  type="checkbox" 
                  value="" 
                  id="temporalType" 
                  {% if "temporal" not in model_types %}disabled{% endif %}
                  >
                  <label class="form-check-label text-white" for="temporalType">
                    Temporal
                  </label>
                </div>

                <hr style="color:white;">

                <center><b>
                    <label for="outputFormat" class="text-white">{% trans "Output Format" %}</label>
                </b></center>
                <div class="form-check">
                  <input
                  class="form-check-input" 
                  type="radio" 
                  name="outputFormat" 
                  id="categorical" 
                  value="C" 
                  {% if "C" not in output_formats %}disabled{% endif %}
                  >
                  <label class="form-check-label text-white" for="categorical">
                    Categorical
                  </label>
                </div>
                <div class="form-check">
                  <input 
                  class="form-check-input" 
                  type="radio" 
                  name="outputFormat" 
                  id="quantitative" 
                  value="Q" 
                  {% if "Q" not in output_formats %}disabled{% endif %}
                  >
                  <label class="form-check-label text-white" for="quantitative">
                    Quantitative
                  </label>
                </div>

                <hr style="color:white;">

                <center>
                    <div id="geocode-div">
                        <b><label for="geocode" class="text-white">{% trans "Geocode" %}</label></b>
                        <select name="geocode" id="geocode" class="selectpicker" data-size="5" data-live-search="true">
                        </select>
                    </div>
                </center>
            </div>
        </div>
    </div>

    <div class="vis-content d-flex flex-column flex-shrink-0 p-3 bg-light">
        <center>
            <label for="predictionSearch">{% trans "Select a Prediction" %}</label>
        </center>
        <center>
            <select id="predictionSearch" style="width: 50%;">
                <option value=""></option>
                {% for key, value in predictions.items %}
                <option value="{{ key }}" data-metadata={{value}}>{{ value }}</option>
                {% endfor %}
            </select>
        </center>

        <br>

        <iframe id="lineChart" src="{% url 'line_charts' %}{{line_charts_default_uri}}" width="100%" height="500" frameborder="0"></iframe>
    </div>

</div>


<style>

.vis-sidebar {
    width: 280px;
    min-height: calc(100vh - 211px);
}

.vis-content {
    flex-grow: 1;
    min-height: calc(100vh - 211px);
}

.vis-content iframe {
    min-height: calc(100vh - 211px);
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #6875F7 !important; 
    color: white !important;
    border-color: #111111 !important;
}
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-rc.0/css/select2.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-rc.0/js/select2.min.js"></script>
<script>
    $(document).ready(function () {
        $('#predictionSearch').select2({
            placeholder: 'Search',
            allowClear: true,
            closeOnSelect: true,
        });

        const DISEASES = {
            "dengue": "01",
            "zika": "02",
            "chik": "03"
        };

        const TIME_RESOLUTIONS = {
            "day": "D",
            "week": "W",
            "month": "M",
            "year": "Y",
        };

        const ADM_LEVELS = {
            0: "NA",
            1: "ST",
            2: "MU",
            3: "SM",
        };

        var diseases = document.querySelectorAll('input[name="diseaseRadio"]');
        var timeRes = document.querySelectorAll('input[name="timeResRadio"]');
        var admLevel = document.querySelectorAll('input[name="admLevelRadio"]');
        var spatial = document.getElementById("spatialType");
        var temporal = document.getElementById("temporalType");
        var outputFormat = document.querySelectorAll('input[name="outputFormat"]');
        var geocode = document.getElementById("geocode");
        var predictionSearch = document.getElementById("geocode");
        let selectedDisease = null;
        let selectedTimeResolution = null;
        let selectedAdmLevel = null;
        let selectedSpatial = null;
        let selectedTemporal = null;
        let selectedOutputFormat = null;
        let selectedGeocode = null;

        const initialPredictions = [
            {% for key, value in predictions.items %}
                "{{ value }}",
            {% endfor %}
        ];

        if (String(selectedAdmLevel) === "2") {
            document.getElementById("geocode-div").style.display = "block";
            updateGeocodes(initialPredictions);
        } else {
            document.getElementById("geocode-div").style.display = "none";
        }

        diseases.forEach(function (disease) {
            disease.addEventListener("change", function () {
                selectedDisease = this.id;
                var filteredPredictions = filterPredictions(
                    initialPredictions,
                    selectedDisease,
                    selectedTimeResolution,
                    selectedAdmLevel,
                    selectedSpatial,
                    selectedTemporal,
                    selectedOutputFormat,
                    selectedGeocode,
                );

                if (String(selectedAdmLevel) === "2") {
                    updateGeocodes(filteredPredictions);
                }

                updatePredictions(filteredPredictions);
            });
        });

        timeRes.forEach(function (time) {
            time.addEventListener("change", function () {
                selectedTimeResolution = this.id;
                var filteredPredictions = filterPredictions(
                    initialPredictions,
                    selectedDisease,
                    selectedTimeResolution,
                    selectedAdmLevel,
                    selectedSpatial,
                    selectedTemporal,
                    selectedOutputFormat,
                    selectedGeocode,
                );

                if (String(selectedAdmLevel) === "2") {
                    updateGeocodes(filteredPredictions);
                }

                updatePredictions(filteredPredictions);
            });
        });

        admLevel.forEach(function (level) {
            level.addEventListener("change", function () {
                selectedAdmLevel = this.value;
                if (String(selectedAdmLevel) === "2") {
                    document.getElementById("geocode-div").style.display = "block";
                } else {
                    document.getElementById("geocode-div").style.display = "none";
                }
                var filteredPredictions = filterPredictions(
                    initialPredictions,
                    selectedDisease,
                    selectedTimeResolution,
                    selectedAdmLevel,
                    selectedSpatial,
                    selectedTemporal,
                    selectedOutputFormat,
                    selectedGeocode,
                );

                if (String(selectedAdmLevel) === "2") {
                    updateGeocodes(filteredPredictions);
                }

                updatePredictions(filteredPredictions);
            });
        });

        spatial.addEventListener("change", function() {
            selectedSpatial = this.checked;
            var filteredPredictions = filterPredictions(
                initialPredictions,
                selectedDisease,
                selectedTimeResolution,
                selectedAdmLevel,
                selectedSpatial,
                selectedTemporal,
                selectedOutputFormat,
                selectedGeocode,
            );

            if (String(selectedAdmLevel) === "2") {
                updateGeocodes(filteredPredictions);
            }

            updatePredictions(filteredPredictions);
        });

        temporal.addEventListener("change", function() {
            selectedTemporal = this.checked;
            var filteredPredictions = filterPredictions(
                initialPredictions,
                selectedDisease,
                selectedTimeResolution,
                selectedAdmLevel,
                selectedSpatial,
                selectedTemporal,
                selectedOutputFormat,
                selectedGeocode,
            );
            
            if (String(selectedAdmLevel) === "2") {
                updateGeocodes(filteredPredictions);
            }

            updatePredictions(filteredPredictions);
        });

        outputFormat.forEach(function (format) {
            format.addEventListener("change", function () {
                selectedOutputFormat = this.value;
                var filteredPredictions = filterPredictions(
                    initialPredictions,
                    selectedDisease,
                    selectedTimeResolution,
                    selectedAdmLevel,
                    selectedSpatial,
                    selectedTemporal,
                    selectedOutputFormat,
                    selectedGeocode,
                );

                if (String(selectedAdmLevel) === "2") {
                    updateGeocodes(filteredPredictions);
                }

                updatePredictions(filteredPredictions);
            });
        });

        geocode.addEventListener("change", function () {
            selectedGeocode = this.value;

            var filteredPredictions = filterPredictions(
                initialPredictions,
                selectedDisease,
                selectedTimeResolution,
                selectedAdmLevel,
                selectedSpatial,
                selectedTemporal,
                selectedOutputFormat,
                selectedGeocode,
            );

            updatePredictions(filteredPredictions);
        });

        $('#predictionSearch').on("change", function () {
            selectedPrediction = this.value;
            updateLineChart([selectedPrediction]);
        });

        function updateGeocodes(predictions) {
            $('#geocode').empty();

            const extractedGeocodes = predictions.map(prediction => {
                const parts = prediction.split('-');
                return parts[2];
            });

            const geocodes = [...new Set(extractedGeocodes)];

            geocodes.forEach(geocode => {
                var opt = document.createElement('option');
                opt.value = geocode;
                opt.innerHTML = geocode;
                $("#geocode").append(opt).selectpicker('refresh');
            });

            $("#geocode").prop("selectedIndex", -1);
            $('#geocode').selectpicker('refresh');
        };

        function updatePredictions(predictions) {
            $("#predictionSearch option").each(function () {
                const metadata = $(this).data("metadata");
                if (predictions.includes(metadata)) {
                    $(this).prop("disabled", false);
                } else {
                    $(this).prop("disabled", true);
                    $(this).detach().appendTo("#predictionSearch");
                }
            });
        };

        function updateLineChart(selectedPredictIds = null) {
            var lineChartIframe = $('#lineChart');
            var lineChartUrl = '{% url "line_charts" %}?';

            if (selectedPredictIds !== null) {
                selectedPredictIds = selectedPredictIds.filter(function(predictId) {
                    return predictId !== null;
                });

                console.log(selectedPredictIds);
                if (selectedPredictIds.length > 0) {
                    selectedPredictIds.forEach(function(predictId) {
                        if (predictId != false) {
                            lineChartUrl += 'predict=' + predictId + '&';
                        }
                    });

                    lineChartUrl = lineChartUrl.slice(0, -1);
                }
            }

            lineChartIframe.attr('src', lineChartUrl);
        }

        function filterPredictions(
            predictions, 
            disease, 
            timeResolution, 
            admLevel, 
            spatial,
            temporal, 
            quantitative, 
            geocode
        ) {
            return predictions.filter(hash => {
                if (disease != null && !hash.startsWith(DISEASES[disease])) {
                    return false;
                }

                if (timeResolution != null && hash.charAt(2) !== TIME_RESOLUTIONS[timeResolution]) {
                    return false;
                }

                if (admLevel != null && hash.substr(3, 2) !== ADM_LEVELS[admLevel]) {
                    return false;
                }

                if (spatial != null) {
                    if ((spatial && hash.charAt(6) === "0") || (!spatial && hash.charAt(6) === "1")) {
                        return false;
                    }
                }

                if (temporal != null) {
                    if ((temporal && hash.charAt(7) === "0") || (!temporal && hash.charAt(7) === "1")) {
                        return false;
                    }
                }

                if (quantitative != null) {
                    if (
                        (quantitative === "C" && hash.charAt(8) !== "C") || 
                        (quantitative === "Q" && hash.charAt(8) !== "Q")
                    ) {
                        return false;
                    }
                }

                if (geocode != null) {
                    if (hash.substr(10, 7) !== geocode) {
                        return false;
                    }
                }

                return true;
            });
        }
    });

</script>
{% endblock %}
