{% extends 'main/base.html' %}
{% load i18n %}
{% load plotly_dash %}
{% load filters %}

{% block title %}{% translate "Visualization" %}{% endblock %}

{% block content %}
<div style="display:flex;">
    <div class="vis-sidebar d-flex flex-column flex-shrink-0 bg-dark">
        <div class="sidebar-menu">
            <div class="p-3">
                <center><b>
                    <label for="disease" class="text-white">{% trans "Disease" %}</label>
                </b></center>
                <div class="form-check">
                  <input 
                  class="form-check-input" 
                  type="radio" 
                  name="diseaseRadio" 
                  id="dengue"
                  {% if "dengue" not in diseases %}disabled{% endif %}
                  >
                  <label class="form-check-label text-white" for="dengue">Dengue</label>
                </div>
                <div class="form-check">
                  <input 
                  class="form-check-input" 
                  type="radio" 
                  name="diseaseRadio" 
                  id="zika"
                  {% if "zika" not in diseases %}disabled{% endif %}
                  >
                  <label class="form-check-label text-white" for="zika">Zika</label>
                </div>
                <div class="form-check">
                  <input 
                  class="form-check-input" 
                  type="radio" 
                  name="diseaseRadio" 
                  id="chik"
                  {% if "chikungunya" not in diseases %}disabled{% endif %}
                  >
                  <label class="form-check-label text-white" for="chik">Chikungunya</label>
                </div>

                <hr style="color:white;">

                <center><b>
                    <label for="disease" class="text-white">{% trans "Temporal Resolution" %}</label>
                </b></center>
                <div class="form-check">
                  <input 
                  class="form-check-input" 
                  type="radio" 
                  name="timeResRadio" 
                  id="day"
                  {% if "day" not in time_resolutions %}disabled{% endif %}
                  >
                  <label class="form-check-label text-white" for="day">Daily</label>
                </div>
                <div class="form-check">
                  <input 
                  class="form-check-input" 
                  type="radio" 
                  name="timeResRadio" 
                  id="week"
                  {% if "week" not in time_resolutions %}disabled{% endif %}
                  >
                  <label class="form-check-label text-white" for="week">Weekly</label>
                </div>
                <div class="form-check">
                  <input 
                  class="form-check-input" 
                  type="radio" 
                  name="timeResRadio" 
                  id="month"
                  {% if "month" not in time_resolutions %}disabled{% endif %}
                  >
                  <label class="form-check-label text-white" for="month">Monthly</label>
                </div>
                <div class="form-check">
                  <input 
                  class="form-check-input" 
                  type="radio" 
                  name="timeResRadio" 
                  id="year"
                  {% if "year" not in time_resolutions %}disabled{% endif %}
                  >
                  <label class="form-check-label text-white" for="year">Yearly</label>
                </div>

                <hr style="color:white;">

                <center><b>
                    <label for="disease" class="text-white">{% trans "Administrative Level" %}</label>
                </b></center>
                <div class="form-check">
                  <input 
                  class="form-check-input" 
                  type="radio" 
                  name="admLevelRadio" 
                  id="national"
                  {% if "0" not in time_resolutions %}disabled{% endif %}
                  >
                  <label class="form-check-label text-white" for="national">National</label>
                </div>
                <div class="form-check">
                  <input 
                  class="form-check-input" 
                  type="radio" 
                  name="admLevelRadio" 
                  id="state"
                  {% if "1" not in time_resolutions %}disabled{% endif %}
                  >
                  <label class="form-check-label text-white" for="state">State</label>
                </div>
                <div class="form-check">
                  <input 
                  class="form-check-input" 
                  type="radio" 
                  name="admLevelRadio" 
                  id="municipal"
                  {% if "2" not in time_resolutions %}disabled{% endif %}
                  >
                  <label class="form-check-label text-white" for="municipal">Municipal</label>
                </div>

                <hr style="color:white;">

                <center>
                    <div id="adm-level-div">
                        <label for="adm-level" class="text-white">{% trans "Administrative level" %}</label>
                        <select name="adm-level" id="adm-level" class="selectpicker" data-size="5">
                        </select>

                        <hr style="color:white;">
                    </div>
                </center>

                <center>
                    <div id="geocode-div">
                        <label for="geocode" class="text-white">{% trans "Geocode" %}</label>
                        <select name="geocode" id="geocode" class="selectpicker" data-size="5" data-live-search="true">
                        </select>

                        <hr style="color:white;">
                    </div>
                </center>

                <center>
                    <label for="predictions" class="text-white">{% trans "Predictions" %}:</label>
                    <select name="predictions" id="predictions" class="selectpicker" data-size="7" multiple>
                    </select>
                </center>

            </div>
        </div>
    </div>

    <div class="vis-content d-flex flex-column flex-shrink-0 p-3 bg-light">
        <iframe id="lineChart" src="{% url 'line_charts' %}{{line_charts_default_uri}}" width="100%" height="500" frameborder="0"></iframe>
        {% for v in adm_levels %}
            {{v}}
            <br>
        {% endfor %}
        {% for k, v in predictions.items %}
            {{v}}
            <br>
        {% endfor %}
    </div>

</div>


<style>

.vis-sidebar {
    width: 280px;
    min-height: calc(100vh - 211px);
}

.vis-content {
    flex-grow: 1;
    min-height: calc(100vh - 211px);
}

.vis-content iframe {
    min-height: calc(100vh - 211px);
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #6875F7 !important; 
    color: white !important;
    border-color: #111111 !important;
}
</style>

<script>
    $(document).ready(function () {
        var radioButtons = document.querySelectorAll('input[name="diseaseRadio"]');

        // Add a change event listener to each radio button
        radioButtons.forEach(function (radioButton) {
            radioButton.addEventListener("change", function () {
                // Log the value of the selected radio button to the console
                console.log(this.id);
            });
        });
    });

</script>
{% endblock %}
