{% extends 'main/base.html' %}
{% load i18n %}
{% load plotly_dash %}
{% load filters %}

{% block title %}{% translate "Visualization" %}{% endblock %}

{% block content %}
<div style="display:flex;">
  <div class="vis-sidebar d-flex flex-column flex-shrink-0 bg-dark">
    <div class="sidebar-menu">
      <div class="p-3">
        <center>
          <label for="series" class="text-white">{% trans "Series" %}</label>
          <select name="series" id="series" class="selectpicker" data-size="5">
            {% for series in available_series %}
            <option value="{{ series }}" {% if selected_series == series %}selected{% endif %}>
            {{ series.capitalize }} Series
            </option>
            {% endfor %}
          </select>
        </center>

        <hr style="color:white;">

        <center>
          <label for="disease" class="text-white">{% trans "Disease" %}</label>
          <select name="disease" id="disease" class="selectpicker" data-size="5">
          </select>
        </center>

        <hr style="color:white;">
        
        <center>
        <div id="adm-level-div">
          <label for="adm-level" class="text-white">{% trans "Administrative level" %}</label>
          <select name="adm-level" id="adm-level" class="selectpicker" data-size="5">
          </select>

          <hr style="color:white;">
        </div>
        </center>

        <center>
        <div id="geocode-div">
          <label for="geocode" class="text-white">{% trans "Geocode" %}</label>
          <select name="geocode" id="geocode" class="selectpicker" data-size="5" data-live-search="true">
          </select>

          <hr style="color:white;">
        </div>
        </center>

        <center>
          <label for="models" class="text-white">{% trans "Models" %}:</label>
          <select name="models" id="models" class="selectpicker" data-size="5" multiple>
          </select>
        </center>

        <hr style="color:white;">

        <center>
        <label for="predictions" class="text-white">{% trans "Predictions" %}:</label>
        <select name="predictions" id="predictions" class="selectpicker" data-size="5" multiple>
        </select>
        </center>

      </div>
    </div>
  </div>

  <div class="vis-content d-flex flex-column flex-shrink-0 p-3 bg-light">
    <iframe id="lineChart" src="{% url 'line_charts' %}{{line_charts_default_uri}}" width="100%" height="500" frameborder="0"></iframe>
  </div>

</div>


<style>
.vis-sidebar {
  width: 280px;
  min-height: calc(100vh - 211px);
}

.vis-content {
  flex-grow: 1;
  min-height: calc(100vh - 211px);
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: #6875F7 !important; 
  color: white !important;
  border-color: #111111 !important;
}
</style>

<script>
  $(document).ready(function () {

    disableDefaults();

    $('#series').change(function () {
      disableOnSeries($(this).val());
    });

    $('#disease').change(function () {
      disableOnDisease($('#series').val(), $(this).val());
    });

    $('#adm-level').change(function () {
      disableOnADMLevel(
        $('#series').val(), 
        selectedDisease=$('#disease').val(), 
        selectedADMLevel=$(this).val()
      );
    });

    $('#geocode').change(function () {
      disableOnGeocode(
        $('#series').val(), 
        selectedDisease=$('#disease').val(), 
        selectedADMLevel=$('#adm-level').val(),
        selectedGeocode=$(this).val(),
      );
    });

    $('#models').change(function () {
      var selectedGeocode = $('#geocode').val()

      if (selectedADMLevel.toString() !== '2') {
        selectedGeocode = null;
      }

      enablePredictionsOnModelIds(
        modelIds=$(this).val(),
        series=$('#series').val(),
        selectedDisease=$('#disease').val(),
        selectedADMLevel=$('#adm-level').val(),
        selectedGeocode=selectedGeocode,
      );
    });

    $('#predictions').change(function () {
      var selectedPredictIds = $(this).val();
      var visualizeButton = $('#visualize');
      updateLineChart(selectedPredictIds);
    });


    function updateLineChart(selectedPredictIds) {
      var lineChartIframe = $('#lineChart');
      var lineChartUrl = '{% url "line_charts" %}?';

      selectedPredictIds.forEach(function(predictId) {
        lineChartUrl += 'predict=' + predictId + '&';
      });

      if (selectedPredictIds.length > 0) {
        lineChartUrl = lineChartUrl.slice(0, -1);
      }

      lineChartIframe.attr('src', lineChartUrl);
    }


    function disableDefaults() {
      // This function will disable all items that should be disabled by
      // default
      var defaultSeries = "{{ selected_series|safe }}"
      var defaultDisease = "{{ selected_disease|safe }}"
      var defaultADMLevel = "{{ selected_adm_level|safe }}"
      var defaultGeocode = "{{ selected_geocode|default:'None'|safe }}" === "None" ? null : "{{ selected_geocode|safe }}";
      var defaultModel = "{{ selected_model|default:'None'|safe }}" === "None" ? null : "{{ selected_model|safe }}";
      var defaultPrediction = "{{ selected_prediction|default:'None'|safe }}" === "None" ? null : "{{ selected_prediction|safe }}";

      if (defaultSeries !== null) {
        disableOnSeries(defaultSeries);
      }
      // if (defaultDisease !== null) {
      //   disableOnDisease(defaultSeries);
      // }
      // if (defaultADMLevel !== null) {
      //   if (defaultADMLevel.toString() === "2") {
      //     defaultGeocode = null;
      //   }
      //   disableOnADMLevel(defaultSeries, defaultDisease, defaultADMLevel);
      // }
      // if (defaultGeocode !== null) {
      //   disableOnGeocode(
      //     defaultSeries,
      //     defaultDisease,
      //     defaultADMLevel,
      //     defaultGeocode,
      //   );
      // }
      if (defaultModel !== null) {
        enablePredictionsOnModelIds(
          modelIds=[defaultModel],
          series=$('#series').val(),
          selectedDisease=$('#disease').val(),
          selectedADMLevel=$('#adm-level').val(),
          selectedGeocode=defaultGeocode,
        );
        updateLineChart([defaultPrediction]);
      }
    }


    function getItems(
      series = null, 
      disease = null, 
      admLevel = null, 
      geocode = null, 
      modelId = null
    ) {
      function filterEmptyDictionaries(obj) {
        for (let key in obj) {
          if (typeof obj[key] === 'object' && !Array.isArray(obj[key])) {
            obj[key] = filterEmptyDictionaries(obj[key]);
            if (Object.keys(obj[key]).length === 0) {
              delete obj[key];
            }
          }
        }
        return obj;
      }

      var compatibilities = {{ compatibilities|safe }};

      let result = compatibilities;
      if (series !== null ) {
        result = result[series];
        if (disease !== null) {
          result = result[disease];
          if (admLevel !== null) {
            result = result[admLevel.toString()];
            if (admLevel.toString() === "2") {
              if (geocode !== null) {
                result = result[geocode.toString()];
                if (modelId !== null) {
                  result = result[modelId.toString()];
                } 
              }
            } else { // TODO: add logic for "0", "1" and "3"
              if (modelId !== null) {
                result = result[modelId.toString()];
              }
            }
          }
        }
      }

      if (!Array.isArray(result)) {
        result = filterEmptyDictionaries(result);
        return Object.keys(result);
      } else {
        return result;
      }
    }


    function capitalize(string) {
      return string.charAt(0).toUpperCase() + string.slice(1);
    }


    function getADMLevel(level) {
      switch (level) {
        case "0":
          return "National";
        case "1":
          return "State";
        case "2":
          return "Municipality";
        case "3":
          return "Sub Municipality";
        default:
          return "Unknown";
      }
    }



    function disableOnSeries(selectedSeries) {
      $('#disease').empty();
      $('#adm-level').empty();
      $('#geocode').empty();
      $('#models').empty();
      $('#predictions').empty();

      let availableDiseases = {{ available_diseases|safe }};
      let viewDisease = "{{ selected_disease|safe }}";
      let diseases = getItems(series=selectedSeries);

      let count = 0;
      for (var d = 0; d < availableDiseases.length; d++) {
        let disease = availableDiseases[d];
        if (diseases.includes(disease)) {
          var opt = document.createElement('option');
          opt.value = disease;   
          opt.innerHTML = capitalize(disease);
          $("#disease").append(opt).selectpicker('refresh');

          if (disease === viewDisease) {
            $('#disease option[value="' + disease + '"]').prop('selected', true);
            count++;
          }

          if (count === 0) {
            $('#disease option[value="' + disease + '"]').prop('selected', true);
            count++;
          }

          disableOnDisease(selectedSeries);
        }
      }

      $('#disease').selectpicker('refresh');
      $('#adm-level').selectpicker('refresh');
      $('#geocode').selectpicker('refresh');
      $('#models').selectpicker('refresh');
      $('#predictions').selectpicker('refresh');
    }



    function disableOnDisease(series) {
      $('#adm-level').empty();
      $('#geocode').empty();
      $('#models').empty();
      $('#predictions').empty();

      let selectedDisease = $('#disease').val();
      let availableADMLevels = {{ available_adm_levels }};
      let viewADMLevel = "{{ selected_adm_level|safe }}";
      let admLevels = getItems(series=series, disease=selectedDisease)

      let count = 0;
      for (var a = 0; a < availableADMLevels.length; a++) {
        let admLevel = availableADMLevels[a].toString();
        if (admLevels.includes(admLevel)) {
          var opt = document.createElement('option');
          opt.value = admLevel;   
          opt.innerHTML = getADMLevel(admLevel.toString());
          $("#adm-level").append(opt).selectpicker('refresh');

          if (admLevel === viewADMLevel) {
            $('#adm-level option[value="' + admLevel + '"]').prop('selected', true);
            count++;
          }

          if (count === 0) {
            $('#adm-level option[value="' + admLevel + '"]').prop('selected', true);
            count++;
          }
        }
      }

      disableOnADMLevel(
        series=series, 
        selectedDisease=disease, 
        selectedADMLevel=$('#adm-level').val(),
      );

      $('#adm-level').selectpicker('refresh');
      $('#geocode').selectpicker('refresh');
      $('#models').selectpicker('refresh');
      $('#predictions').selectpicker('refresh');
    }



    function disableOnADMLevel(series, selectedDisease, selectedADMLevel) {
      $('#geocode').empty();
      $('#models').empty();
      $('#predictions').empty();

      if (selectedADMLevel.toString() === '2') {
        $('#geocode-div').show();
        let availableGeocodes = {{ available_geocodes }};
        let viewGeocode = "{{ selected_geocode|safe }}";
        let geocodes = getItems(
          series=series,
          disease=selectedDisease,
          admLevel=selectedADMLevel,
        )

        let count = 0;
        for (var g = 0; g < availableGeocodes.length; g++) {
          let geocode = availableGeocodes[g];
          if (geocodes.includes(geocode.toString())) {
            var opt = document.createElement('option');
            opt.value = geocode;   
            opt.innerHTML = geocode;
            $("#geocode").append(opt).selectpicker('refresh');

            if (geocode.toString() === viewGeocode) {
              $('#geocode option[value="' + geocode + '"]').prop('selected', true);
              count++;
            }

            if (count === 0) {
              $('#geocode option[value="' + geocode + '"]').prop('selected', true);
              count++;
            }
          }
        }

        disableOnGeocode(
          series=series,
          selectedDisease=selectedDisease,
          selectedADMLevel=selectedADMLevel,
          selectedGeocode=$('#geocode').val(),
        );
      } else { // TODO: Handle '0', '1' and '3' cases individually
        $('#geocode-div').hide();

        let viewModel = "{{ selected_model|safe }}"
        let modelIds = getItems(
          series=series,
          disease=selectedDisease,
          admLevel=selectedADMLevel,
        );

        for (var m = 0; m < modelIds.length; m++) {
          let modelId = modelIds[m];

          getModelItemDesc(modelId)
            .then(result => {
              var opt = document.createElement('option');
              opt.value = modelId;   
              opt.innerHTML = modelId + " - " + result.name;
              $("#models").append(opt)

              if (modelId.toString() === viewModel.toString()) {
                opt.selected = true;
              }

              $("#models").selectpicker('refresh');
            })
            .catch(error => {
              console.error('Error:', error.message);
            });
        }

        enablePredictionsOnModelIds(
          modelIds=[modelIds],
          series=$('#series').val(),
          selectedDisease=$('#disease').val(),
          selectedADMLevel=$('#adm-level').val(),
          selectedGeocode=null,
        );
      }

      $('#geocode').selectpicker('refresh');
      $('#models').selectpicker('refresh');
      $('#predictions').selectpicker('refresh');
    }



    function disableOnGeocode(
      series, 
      selectedDisease, 
      selectedADMLevel, 
      selectedGeocode
    ) {
      let modelIds = getItems(
        series=series,
        disease=selectedDisease,
        admLevel=selectedADMLevel,
        geocode=$('#geocode').val(),
      );

      $("#models").empty();
      $("#predictions").empty();

      for (var m = 0; m < modelIds.length; m++) {
        let modelId = modelIds[m];
        let viewModel = "{{ selected_model|safe }}"

        getModelItemDesc(modelId)
          .then(result => {
            var opt = document.createElement('option');
            opt.value = modelId;   
            opt.innerHTML = modelId + " - " + result.name;
            if (modelId.toString() === viewModel.toString()) {
              opt.selected = true;
            }
            $("#models").append(opt)
            $("#models").selectpicker('refresh');
          })
          .catch(error => {
            console.error('Error:', error.message);
          });
      }

      $('#models').selectpicker('refresh');
      $('#predictions').selectpicker('refresh');
    }



    function enablePredictionsOnModelIds(
      modelIds,
      series, 
      selectedDisease, 
      selectedADMLevel, 
      selectedGeocode = null,
    ) {
      $("#predictions").empty();
      var visualizeButton = $('#visualize');
      let viewPrediction = "{{ selected_prediction|safe }}"

      for (var m = 0; m < modelIds.length; m++) {
        let modelId = modelIds[m];

        var predictionIds = null
        if (selectedADMLevel.toString() === "2" && selectedGeocode !== null) {
          predictionIds = getItems(
            series=series,
            disease=selectedDisease,
            admLevel=selectedADMLevel,
            geocode=selectedGeocode,
            modelId=modelId
          );

        } else if (selectedADMLevel.toString() === "0" && selectedGeocode === null) {
          predictionIds = getItems(
            series=series,
            disease=selectedDisease,
            admLevel=selectedADMLevel,
            geocode=null,
            modelId=modelId
          );
        } // TODO: Add more cases here to handle other adm levels


        if (predictionIds !== null) {
          for (var p = 0; p < predictionIds.length; p++) {
            let predictionId = predictionIds[p];

            getPredictionItemDesc(predictionId)
              .then(result => {
                var opt = document.createElement('option');
                opt.value = predictionId;
                opt.innerHTML = result.model_id + " - Prediction " + predictionId;
                if(predictionId.toString() === viewPrediction) {
                  opt.selected = true;
                  visualizeButton.prop('disabled', false);
                }
                $("#predictions").append(opt)
                $("#predictions").selectpicker('refresh');
              })
              .catch(error => {
                console.error('Error:', error.message);
              });
          }
        }
      }

      $('#predictions').selectpicker('refresh');
    }



    function getModelItemDesc(modelId) {
      return fetch(`/vis/get-model-item/${modelId}/`)
        .then(response => {
          if (!response.ok) {
            throw new Error(`Error fetching model: ${response.statusText}`);
          }
          return response.json();
        })
        .then(data => data)
        .catch(error => {
          console.error('Error:', error.message);
        });
    }



    function getPredictionItemDesc(predictionId) {
      return fetch(`/vis/get-prediction-item/${predictionId}/`)
        .then(response => {
          if (!response.ok) {
            throw new Error(`Error fetching prediction: ${response.statusText}`);
          }
          return response.json();
        })
        .then(data => data)
        .catch(error => {
          console.error('Error:', error.message);
        });
    }

  });

</script>
{% endblock %}
