{% extends 'main/base.html' %}
{% load i18n %}
{% load plotly_dash %}

{% block title %}{% translate "Visualization" %}{% endblock %}

{% block content %}
<div style="display:flex;">
  <div class="vis-sidebar d-flex flex-column flex-shrink-0 bg-dark">
    <div class="sidebar-menu">
      <div class="p-3">
        <label for="models" class="text-white">Select Models:</label>
        <select name="models" id="models" class="selectpicker" data-size="5" multiple>
            {% for model in models %}
                <option value="{{ model.id }}" {% if model.selected %}selected{% endif %}>
                    {{ model.id }} - {{ model.model.name }}
                </option>
            {% endfor %}
        </select>

        <hr style="color:white;">

        <label for="predictions" class="text-white">Select Predictions:</label>
        <select name="predictions" id="predictions" class="selectpicker" data-size="5" multiple>
          {% for model in models %}
            {% for prediction in model.predictions %}
              <option value="{{prediction.id}}" {% if prediction.selected %}selected{% endif %}>{{prediction.model_id}} - Prediction {{prediction.id}}</option>
            {% endfor %}
          {% endfor %}
        </select>
      </div>
    </div>
  </div>

  <div class="vis-content d-flex flex-column flex-shrink-0 p-3 bg-light">
      <iframe id="lineChart" src="{% url 'line_charts' %}{{line_charts_default_uri}}" width="100%" height="500" frameborder="0"></iframe>
      {{charts_info}}
  </div>
</div>


<style>
.vis-sidebar {
  width: 280px;
  min-height: calc(100vh - 211px);
}

.vis-content {
  flex-grow: 1;
  min-height: calc(100vh - 211px);
}
</style>

<script>
    function updateCharts() {
        var lineChart = document.getElementById('lineChart');
    }
</script>
{% endblock %}
