{% extends 'main/base.html' %}
{% load i18n %}
{% load plotly_dash %}
{% load static %}
{% load filters %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<header>
  <link rel="stylesheet" href="{% static 'css/vis/dashboard/index.css' %}">
  <link rel="stylesheet" href="{% static 'css/external/jqrangeslider.css' %}">
  <link rel="stylesheet" href="{% static 'css/external/jquery-ui.css' %}">
</header>

<script src="{% static 'js/vis/dashboard/index.js' %}"></script>
<script src="{% static 'js/external/jquery.js' %}"></script>
<script
  src="https://code.jquery.com/ui/1.14.0/jquery-ui.js"
  integrity="sha256-u0L8aA6Ev3bY2HI4y0CAyr9H8FRWgX4hZ9+K7C2nzdc="
  crossorigin="anonymous"></script>
<script src="{% static 'js/external/jQDateRangeSlider-withRuler-min.js' %}"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vega@5"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vega-lite@5.20.1"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lz-string/1.4.4/lz-string.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/dexie/dist/dexie.js"></script>

{% for dashboard, data in dashboards.items %}
  <input type="hidden" id="dashboardEl-{{ dashboard }}" value='{{ data|parse_nones|safe }}'>
{% endfor %}

{% include 'vis/dashboard/menu.html' %}
<div id="dsContent" class="container shadow">
  {% for name, data in dashboards.items %}
  <div id="dsContent-{{name}}">
    {% if name != "forecast_map" %}
    <div id="chart-container-wrapper" style="position: relative; min-height:351px;">
      <div id="chart-loading-{{name}}" class="chart-loading" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; display:flex; justify-content:center; align-items:center; z-index: 10;">
        <img src="{% static 'img/loading-dots.gif' %}" alt="Loading..." style="width:150px">
      </div>
      <div id="chart-container-{{name}}" style="min-height:351px; z-index: 1;"></div>
    </div>
    <div id="windowDatePicker-{{name}}" style="margin-bottom:15px"></div>
    <div id="predict-ids-{{name}}"></div>
    {% endif %}
  </div>
{% endfor %}
</div>


<script>
const dashboards = {};
const pageData = {
  predictions: [],
  sprint: []
};

document.querySelectorAll('input[id^="dashboardEl-"]').forEach(input => {
  const dashboardName = input.id.split('-')[1];
  dashboards[dashboardName] = JSON.parse(input.value);
});

document.addEventListener("DOMContentLoaded", async () => {
  let dashboardStorage = JSON.parse(localStorage.getItem('dashboards')) || {};

  await Promise.all(Object.keys(dashboards).map(async dashboard => {
    if (dashboard === "forecast_map") return;

    if (!dashboardStorage[dashboard]) {
      dashboardStorage[dashboard] = dashboards[dashboard]["query"];

      if (dashboards[dashboard]["query"]["prediction_ids"].length > 0) {
        try {
          const predictionIds = await handleSelectedPredictions(dashboard, dashboards[dashboard]["query"]["prediction_ids"]);
          dashboardStorage[dashboard]["prediction_ids"] = predictionIds;
        } catch (error) {
          dashboardStorage[dashboard]["prediction_ids"] = [];
          console.error(error);
        }
      } else {
        dashboardStorage[dashboard]["prediction_ids"] = dashboards[dashboard]["query"]["prediction_ids"];
      }

      const adm1Options = new Set(
        dashboards[dashboard]?.["adm_data"]?.[dashboardStorage[dashboard]?.["disease"]]?.[dashboardStorage[dashboard]?.["time_resolution"]]?.["adm_1"] || []
      );

      if (!dashboardStorage[dashboard]["adm_1"]) {
        try {
          const cityInfo = await getBrowserCity();
          if (cityInfo && cityInfo.state && cityInfo.state.uf && adm1Options.has(cityInfo.state.uf)) {
            dashboardStorage[dashboard]["adm_1"] = cityInfo.state.uf;
          } else {
            dashboardStorage[dashboard]["adm_1"] = [...adm1Options][0];
          }
        } catch (error) {
          console.error(error);
          dashboardStorage[dashboard]["adm_1"] = [...adm1Options][0];
        }
      }
    }
  }));

  localStorage.setItem('dashboards', JSON.stringify(dashboardStorage));
});

let local = null;

function updateContentState() {
  const dsContent = document.getElementById('dsContent'); 
  if (!menu.classList.contains('retracted')) {
    dsContent.classList.add('expanded');
    dsContent.classList.remove('retracted');
  } else {
    dsContent.classList.add('retracted');
    dsContent.classList.remove('expanded');
  }
}

async function updateDateWindowRange(dashboard) {
  const [startDate, endDate] = await fetchStartEndWindowDate(dashboard);
  const dateSlider = $(`#windowDatePicker-${dashboard}`)

  try {
    dateSlider.dateRangeSlider("destroy");
  } catch (error) {
    console.log(error);
  }

  dateSlider.dateRangeSlider({
    bounds: {
      min: new Date(startDate),
      max: new Date(endDate)
    },
    defaultValues: {
      min: new Date(startDate),
      max: new Date(endDate)
    },
    range: {
      min: { days: 90 }
    }
  })
}

document.addEventListener('DOMContentLoaded', function() {
  loadData();
  updateContentState();
  const observer2 = new MutationObserver(function (mutationsList) {
    mutationsList.forEach(function (mutation) {
      if (mutation.attributeName === 'class') {
        updateContentState();
      }
    });
  });
  observer2.observe(menu, { attributes: true });
});
</script>

{% endblock %}
