{% load i18n %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/main/base.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/css/datepicker.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/css/datepicker-bs5.min.css">
<link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/vis/dashboard/menu.css' %}">


<div id="menu" class="font-golos d-flex flex-column flex-shrink-0 bg-dark">
  <div id="menuHeader" class="align-items-center">
    <p id="menuTitle" class="menu-txt text-white text-start show">Mosqlimate</p>
    <button id="expandMenu" class="btn menu-btn menu-toggle-btn">
      <i class="fa-regular fa-bars retracted-icon"></i>
    </button>
    <button id="retractMenu" class="btn menu-btn menu-toggle-btn">
      <i class="fa-solid fa-caret-down expanded-icon"></i>
    </button>
  </div>

  <hr style="color:white;">

  <div id="dsSelect">
    <button id="dsBtn" class="btn menu-btn ds-toggle-btn align-items-center">
      <div class="menu-btn-retracted">
        <i class="fa-regular fa-chart-line me-2"></i>
      </div>
      <div class="menu-btn-expanded justify-content-between">
        <span id="dsTitle" class="menu-txt text-start">Dashboard</span>
        <i id="dsArrow" class="fa-solid menu-btn-arrow"></i>
      </div>
    </button>

    <div id="dsOptions" class="collapse">
      {% for name, url in dashboards.items %}
      <a id="{{ name }}" class="btn ds-btn text-white text-start w-100">{{ name }}</a>
      {% endfor %}
    </div>
  </div>

  <hr style="color:white;">

  {% for name, url in dashboards.items %}
  <div id="ds1-{{ name }}">
    <div id="disease-{{ name }}">
      <button id="diseaseBtn-{{name}}" class="btn menu-btn ds-toggle-btn d-flex align-items-center">
        <div class="menu-btn-retracted">
          <i class="fa-solid fa-vial-virus me-2"></i>
        </div>
        <div class="menu-btn-expanded justify-content-between">
          <span id="diseaseTitle" class="menu-txt text-start">{% trans "Disease" %}</span>
          <i id="diseaseArrow" class="fa-solid menu-btn-arrow"></i>
        </div>
      </button>
    </div>

    {% if name == "Predictions" or name == "Sprint 2024/25" %}
    <div id="timeRes-{{ name }}">
      <button id="timeRes-{{name}}" class="btn menu-btn ds-toggle-btn d-flex align-items-center">
        <div class="menu-btn-retracted">
          <i class="fa-solid fa-hourglass-end"></i>
        </div>
        <div class="menu-btn-expanded justify-content-between">
          <span id="timeResTitle" class="menu-txt text-start">{% trans "Time Resolution" %}</span>
          <i id="timeResArrow" class="fa-solid menu-btn-arrow"></i>
        </div>
      </button>
    </div>
    {% endif %}

    <div id="admLevel-{{ name }}">
      <button id="admLevelBtn-{{name}}" class="btn menu-btn ds-toggle-btn d-flex align-items-center">
        <div class="menu-btn-retracted">
          <i class="fa-solid fa-earth-americas me-2"></i>
        </div>
        <div class="menu-btn-expanded justify-content-between">
          <span id="admLevelTitle" class="menu-txt text-start">{% trans "Administrative Level" %}</span>
          <i id="admLevelArrow" class="fa-solid menu-btn-arrow"></i>
        </div>
      </button>
    </div>
  </div>
  {% endfor %}

  <hr style="color:white;">

  {% for name, url in dashboards.items %}
  <div id="ds2-{{ name }}">
  </div>
  {% endfor %}

  <hr style="color:white;">

  {% for name, url in dashboards.items %}
  <div id="ds3-{{ name }}">
    {% if name == "Predictions" or name == "Sprint 2024/25" %}
    <div>
      <div id="datePicker-{{ name }}" class="d-flex flex-column">
        <input type="text" name="start-{{ name }}">
        <input type="text" name="end-{{ name }}">
      </div>
      <br>
      <div id="windowDatePicker-{{ name }}" class="d-flex flex-column">
        <input type="text" name="windowStart-{{ name }}">
        <input type="text" name="windowEnd-{{ name }}">
      </div>
    </div>
    {% else %}
    <div>
      <div id="datePicker-{{ name }}" class="d-flex flex-column">
        <input type="text" name="start-{{ name }}">
      </div>
    </div>
    {% endif %}
  </div>
  {% endfor %}

  <hr style="color:white;">

</div>


<script src="{% static 'js/external/jquery.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/js/datepicker-full.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/js/locales/pt-BR.js"></script>
<script src="https://cdn.jsdelivr.net/gh/farhadmammadli/bootstrap-select@main/js/bootstrap-select.min.js"></script>

<script>
// Vars
let menuState = "expanded";
let isTransitioning = false;

const useri18n = navigator.language || navigator.userLanguage;
const dateFormat = 'yyyy-mm-dd';

const dashboards = {{ dashboards|safe }};
let dashboard = `{{ dashboard }}`;

let startDate = `{{ start_date }}`;
let endDate = `{{ end_date }}`;
let startWindowDate = `{{ start_window_date }}`;
let endWindowDate = `{{ end_window_date }}`;

let disease = `{{ disease }}`;
let timeResolution = `{{ time_resolution }}`;
let outputFormat = `{{ output_format }}`;
let sprint = `{{ sprint }}`;
let admLevel = `{{ adm_level }}`;
let adm0 = `{{ adm_0 }}`;
let adm1 = `{{ adm_1 }}`;
let adm2 = `{{ adm_2 }}`;
let adm3 = `{{ adm_3 }}`;

let modelIds = {{ model_ids }};
let predictionIds = {{ prediction_ids }};

// console.log(dashboard);

// Elements
const menu = document.getElementById('menu');
const menuTitle = document.getElementById('menuTitle');
const expandMenuBtn = document.getElementById('expandMenu');
const retractMenuBtn = document.getElementById('retractMenu');

const dsBtn = document.getElementById('dsBtn');
const dsOptions = document.getElementById('dsOptions');

// Functions
function setVisibility(elements, visibility) {
  elements.forEach(element => {
    if (element) {
      if (visibility === 'visible') {
        element.classList.remove('hidden');
      } else {
        element.classList.add('hidden');
      }
    }
  });
}

function toggleMenuBtn(btn) {
  if (btn && btn.classList) {
    const arrow = btn.querySelector('.menu-btn-arrow');
    const options = document.getElementById(btn.id.replace('Btn', 'Options'));

    if (options) {
      if (options.classList.contains('show')) {
        arrow.classList.remove('fa-chevron-down');
        arrow.classList.add('fa-chevron-up');
        // setTimeout(() => {
        //   options.style.height = '0px';
        //   // options.classList.remove('show');
        // }, 10);
        options.style.height = options.scrollHeight + 'px';
      } else {
        arrow.classList.remove('fa-chevron-up');
        arrow.classList.add('fa-chevron-down');
        options.style.height = '0px';
      }
    }
  }
}

function initializeMenu() {
  function activateDivs(optionId) {
    document.querySelectorAll(`[id^="ds1-"], [id^="ds2-"], [id^="ds3-"]`).forEach(div => {
      div.classList.remove('active');
    });

    const ds1 = document.getElementById(`ds1-${optionId}`);
    const ds2 = document.getElementById(`ds2-${optionId}`);
    const ds3 = document.getElementById(`ds3-${optionId}`);

    if (ds1) ds1.classList.add('active');
    if (ds2) ds2.classList.add('active');
    if (ds3) ds3.classList.add('active');
  }

  activateDivs(dashboard);

  document.querySelectorAll('#dsOptions a').forEach(option => {
    option.addEventListener('click', function () {
      activateDivs(option.id);
      dashboard = option.id;
    });
  });

  document.querySelectorAll('[id^="diseaseBtn-"], #dsBtn').forEach(btn => {
    const options = document.getElementById(btn.id.replace('Btn', 'Options'));

    if (options && options.classList.contains('show')) {
      btn.querySelector('.menu-btn-arrow').classList.add('fa-chevron-up');
      btn.querySelector('.menu-btn-arrow').classList.remove('fa-chevron-down');
    } else {
      btn.querySelector('.menu-btn-arrow').classList.add('fa-chevron-down');
      btn.querySelector('.menu-btn-arrow').classList.remove('fa-chevron-up');
    }

    btn.addEventListener('click', function() {
      if (options) {
        options.classList.toggle('show');
        toggleMenuBtn(btn);
      }
    });
  });
}

let context = {
  "sprint": sprint !== `` ? sprint : null,

  "startDate": startDate,
  "endDate": endDate,
  "startWindowDate": startWindowDate !== `` ? startWindowDate : startDate,
  "endWindowDate": endWindowDate !== `` ? endWindowDate : endDate,

  "disease": disease !== `` ? disease : "dengue",
  "timeResolution": timeResolution !== `` ? timeResolution : "week",
  "outputFormat": outputFormat !== `` ? outputFormat : null,

  "admLevel": admLevel !== `` ? admLevel : 2,
  "adm0": adm0 !== `` ? adm0 : null,
  "adm1": adm1 !== `` ? adm1 : null,
  "adm2": adm2 !== `` ? adm2 : null,
  "adm3": adm3 !== `` ? adm3 : null,
}

console.log(context);

document.addEventListener('DOMContentLoaded', function() {
  const footer = document.querySelector('footer');
  const navbar = document.getElementById('navbar');

  const expandeds = document.querySelectorAll('.menu-btn-expanded');
  const retracteds = document.querySelectorAll('.menu-btn-retracted');

  function updateMenuState() {
    if (menuState === "retracted") {
      menuTitle.classList.remove('show');
      dsOptions.classList.remove('show');

      setVisibility([expandMenuBtn].concat(Array.from(retracteds)), 'visible')
      setVisibility([retractMenuBtn, dsOptions].concat(Array.from(expandeds)), 'hidden')
    } else if (menuState === "expanded") {
      menuTitle.classList.add('show');

      setVisibility([retractMenuBtn, dsOptions].concat(Array.from(expandeds)), 'visible')
      setVisibility([expandMenuBtn].concat(Array.from(retracteds)), 'hidden')
    }

    if (menu.classList.contains('expanded')) {
      footer.style.marginLeft = 'var(--menu-width-expanded)';
      navbar.style.marginLeft = 'var(--menu-width-expanded)';
    } else {
      footer.style.marginLeft = 'var(--menu-width-retracted)';
      navbar.style.marginLeft = 'var(--menu-width-retracted)';
    }
  }

  function setMenuState() {
    if (window.innerWidth <= 1500) {
      if (!menu.classList.contains('retracted')) {
        menu.classList.remove('expanded');
        menu.classList.add('retracted');
        menuState = "retracted";
      }
    } else if (window.innerWidth >= 1200) {
      if (!menu.classList.contains('expanded')) {
        menu.classList.remove('retracted');
        menu.classList.add('expanded');
        menuState = "expanded";
      }
    }
    updateMenuState();
  }

  function toggleMenu() {
    if (isTransitioning) return;

    isTransitioning = true;

    if (menuState === "retracted") {
      menu.classList.remove('retracted');
      menu.classList.add('expanded');
      menuState = "expanded";
    } else if (menuState === "expanded") {
      menu.classList.remove('expanded');
      menu.classList.add('retracted');
      menuState = "retracted";
    }

    updateMenuState();

    setTimeout(() => {
      isTransitioning = false;
    }, 300);
  }

  const observer = new MutationObserver(function (mutationsList) {
    mutationsList.forEach(function (mutation) {
      if (mutation.attributeName === 'class') {
        updateMenuState();
      }
    });
  });

  observer.observe(menu, { attributes: true });

  if (menuState === "expanded") {
    dsOptions.classList.add('show');
  } else {
    dsOptions.classList.remove('show');
  }

  setMenuState();
  initializeMenu();

  expandMenuBtn.addEventListener('click', toggleMenu);
  retractMenuBtn.addEventListener('click', toggleMenu);

  window.addEventListener('resize', setMenuState);

  menu.addEventListener('click', function(event) {
    if (menuState === "retracted") {
      toggleMenu();
    }
  });

  document.querySelectorAll('#dsOptions a').forEach(option => {
    document.querySelectorAll('[id^="ds-"]').forEach(dsDiv => {
      dsDiv.classList.add('ds-hidden');
      dsDiv.classList.add('ds-container');
    });

    const initialDiv = document.getElementById(`ds-${dashboard}`);
    if (initialDiv) {
      initialDiv.classList.remove('ds-hidden');
      initialDiv.classList.add('ds-slide-down');
    }

    if (option.id === dashboard) {
      option.classList.add('selected');
    }

    option.addEventListener('click', (event) => {
      event.preventDefault();

      document.querySelectorAll('#dsOptions a').forEach(opt => opt.classList.remove('selected'));

      option.classList.add('selected');

      const previousDashboard = dashboard;
      dashboard = option.id;

      const previousDiv = document.getElementById(`ds-${previousDashboard}`);
      const newDiv = document.getElementById(`ds-${dashboard}`);

      if (previousDiv) {
        previousDiv.classList.remove('ds-slide-down');
        previousDiv.classList.add('ds-slide-up');

        previousDiv.addEventListener('transitionend', () => {
          previousDiv.classList.add('ds-hidden');
          previousDiv.classList.remove('ds-slide-up');

          if (newDiv) {
            newDiv.classList.remove('ds-hidden');
            newDiv.classList.add('ds-slide-down');
          }
        }, { once: true });
      } else {
        if (newDiv) {
          newDiv.classList.remove('ds-hidden');
          newDiv.classList.add('ds-slide-down');
        }
      }
    });
  });

  try {
    navigator.geolocation.getCurrentPosition(function(location) {
      console.log(location.coords.latitude);
      console.log(location.coords.longitude);
      console.log(location.coords.accuracy);
    });
  } catch {}


  const predictDatePicker = document.getElementById('predictDatePicker');
  const predictDateRangePicker = new DateRangePicker(predictDatePicker, {
    buttonClass: 'btn',
    format: dateFormat,
    clearButton: true,
    language: useri18n,
  }); 

  const predictWindowDatePicker = document.getElementById('predictWindowDatePicker');
  const predictWindowDateRangePicker = new DateRangePicker(predictWindowDatePicker, {
    buttonClass: 'btn',
    format: dateFormat,
    clearButton: true,
    language: useri18n,
  }); 

  predictDatePicker.addEventListener('changeDate', handleDatesChange);
  predictWindowDatePicker.addEventListener('changeDate', handleWindowDatesChange);
  predictDateRangePicker.setDates(
    Datepicker.parseDate(startDate, dateFormat), 
    Datepicker.parseDate(endDate, dateFormat), 
  );
  predictWindowDateRangePicker.setDates(
    Datepicker.parseDate(startDate, dateFormat), 
    Datepicker.parseDate(endDate, dateFormat), 
  );


  function handleDatesChange(event) {
    const [startDate, endDate] = predictDateRangePicker.getDates(dateFormat);
    // console.log(`${startDate} - ${endDate}`);
  }

  function handleWindowDatesChange(event) {
    const [startDate, endDate] = predictWindowDateRangePicker.getDates(dateFormat);
    // console.log(`${startDate} - ${endDate}`);
  }

})
</script>
