{% load i18n %}
{% load static %}
{% load filters %}

<link rel="stylesheet" href="{% static 'css/main/base.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/css/datepicker.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/css/datepicker-bs5.min.css">
<link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/vis/dashboard/menu.css' %}">


<div id="menu" class="font-golos d-flex flex-column flex-shrink-0 bg-dark">
  <div id="menuHeader" class="align-items-center">
    <p id="menuTitle" class="menu-txt text-white text-start show">Mosqlimate</p>
    <button id="expandMenu" class="btn menu-btn menu-toggle-btn">
      <i class="fa-regular fa-bars retracted-icon"></i>
    </button>
    <button id="retractMenu" class="btn menu-btn menu-toggle-btn">
      <i class="fa-solid fa-caret-down expanded-icon"></i>
    </button>
  </div>

  <hr style="color:white;">

  <div id="dsSelect">
    <button id="dsBtn" class="btn menu-btn ds-toggle-btn align-items-center">
      <div class="menu-btn-retracted">
        <i class="fa-regular fa-chart-line me-2"></i>
      </div>
      <div class="menu-btn-expanded justify-content-between">
        <span id="dsTitle" class="menu-txt text-start">Dashboard</span>
        <i id="dsArrow" class="fa-solid menu-btn-arrow"></i>
      </div>
    </button>

    <div id="dsOptions" class="collapse options">
      {% for name, data in dashboards.items %}
        {% if name == "forecast_map" %}
        <a id="{{ name }}" href="/vis/dashboard/macro-forecast-map/" class="btn ds-btn text-white text-start w-100">
        {% else %}
        <a id="{{ name }}" class="btn ds-btn text-white text-start w-100">
        {% endif %}
        {{ name|dashboard_name }}
      </a>
      {% endfor %}
    </div>
  </div>

  <hr style="color:white;">

  {% for name, data in dashboards.items %}
  <div id="ds1-{{ name }}">
    <div id="disease-{{ name }}">
      <button id="diseaseBtn-{{name}}" class="btn menu-btn ds-toggle-btn align-items-center">
        <div class="menu-btn-retracted">
          <i class="fa-solid fa-vial-virus me-2"></i>
        </div>
        <div class="menu-btn-expanded justify-content-between">
          <span id="diseaseTitle" class="menu-txt text-start">{% trans "Disease" %}</span>
          <i id="diseaseArrow" class="fa-solid menu-btn-arrow"></i>
        </div>
      </button>

      <div id="diseaseOptions-{{name}}" class="collapse options">
        {% for disease in data.diseases %}
        <a class="btn ds-btn text-white text-start w-100" data-value="{{ disease }}">{{ disease|title }}</a>
        {% endfor %}
      </div>
    </div>

    {% if name == "predictions" or name == "sprint" %}
    <div id="timeRes-{{ name }}">
      <button id="timeResBtn-{{name}}" class="btn menu-btn ds-toggle-btn align-items-center mt-1">
        <div class="menu-btn-retracted">
          <i class="fa-solid fa-hourglass-end"></i>
        </div>
        <div class="menu-btn-expanded justify-content-between">
          <span id="timeResTitle" class="menu-txt text-start">{% trans "Time Resolution" %}</span>
          <i id="timeResArrow" class="fa-solid menu-btn-arrow"></i>
        </div>
      </button>

      <div id="timeResOptions-{{name}}" class="collapse options">
        {% for time_res in data.time_resolutions %}
        <a class="btn ds-btn text-white text-start w-100" data-value="{{ time_res }}">{{ time_res|title }}</a>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    <div id="admLevel-{{ name }}">
      <button id="admLevelBtn-{{name}}" class="btn menu-btn ds-toggle-btn align-items-center mt-1">
        <div class="menu-btn-retracted">
          <i class="fa-solid fa-earth-americas me-2"></i>
        </div>
        <div class="menu-btn-expanded justify-content-between">
          <span id="admLevelTitle" class="menu-txt text-nowrap text-start" style="font-size: 15px;">{% trans "Administrative Level" %}</span>
          <i id="admLevelArrow" class="fa-solid menu-btn-arrow"></i>
        </div>
      </button>

      <div id="admLevelOptions-{{name}}" class="collapse options">
        {% for adm_level in data.adm_levels %}
        <a id="adm{{adm_level}}Btn-{{name}}" class="btn ds-btn admlvl-btn text-white text-start w-100" data-value="{{ adm_level }}">{% get_adm_level_name name adm_level %}</a>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}

  <hr style="color:white;">

  {% for name, data in dashboards.items %}
    {% if name == "predictions" or name == "sprint" %}
    <div id="ds2-{{ name }}" class="d-flex flex-column">
      {% for adm_level in data.adm_levels %}
      {% if adm_level != 0 %}
      <button id="adm{{adm_level}}Select-{{name}}" class="btn menu-btn adm-select ds-toggle-btn align-items-center"></button>
      {% endif %}
      {% endfor %}
    </div>
    {% elif name == "forecast_map" %}
    <div id="ds3-{{ name }}" class="d-flex flex-column">
      <button id="generate-{{name}}" class="btn menu-btn adm-select ds-toggle-btn align-items-center">Update chart</button>
    <!--   <div id="datePicker-{{ name }}" class="d-flex flex-column"> -->
    <!--     <input type="text" name="start-{{ name }}"> -->
    <!--   </div> -->
    </div>
    {% endif %}
  {% endfor %}

  <hr style="color:white;">

  {% for name, data in dashboards.items %}
    {% if name == "predictions" or name == "sprint" %}
    <div id="ds3-{{ name }}">
      <button id="generate-{{name}}" class="btn menu-btn bg-white adm-select ds-toggle-btn align-items-center">Update Chart</button>
    <!--   <div id="windowDatePicker-{{ name }}" class="d-flex flex-column"> -->
    <!--     <input type="text" name="windowStart-{{ name }}"> -->
    <!--     <input type="text" name="windowEnd-{{ name }}"> -->
    <!--   </div> -->
    </div>
    {% elif name == "forecast_map" %}
    <div id="ds2-{{ name }}" class="d-flex flex-column">
    </div>
    {% endif %}
  {% endfor %}

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/js/datepicker-full.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/js/locales/pt-BR.js"></script>
<script src="https://cdn.jsdelivr.net/gh/farhadmammadli/bootstrap-select@main/js/bootstrap-select.min.js"></script>

<script>
// Consts
const useri18n = navigator.language || navigator.userLanguage;
const dateFormat = 'yyyy-mm-dd';
const ufs = {
    "AC": "Acre",
    "AL": "Alagoas",
    "AP": "Amapá",
    "AM": "Amazonas",
    "BA": "Bahia",
    "CE": "Ceará",
    "DF": "Distrito Federal",
    "ES": "Espírito Santo",
    "GO": "Goiás",
    "MA": "Maranhão",
    "MT": "Mato Grosso",
    "MS": "Mato Grosso do Sul",
    "MG": "Minas Gerais",
    "PA": "Pará",
    "PB": "Paraíba",
    "PR": "Paraná",
    "PE": "Pernambuco",
    "PI": "Piauí",
    "RJ": "Rio de Janeiro",
    "RN": "Rio Grande do Norte",
    "RS": "Rio Grande do Sul",
    "RO": "Rondônia",
    "RR": "Roraima",
    "SC": "Santa Catarina",
    "SP": "São Paulo",
    "SE": "Sergipe",
    "TO": "Tocantins",
}

// Vars
let menuState = "expanded";
let isTransitioning = false;

// Elements
const menu = document.getElementById('menu');
const menuTitle = document.getElementById('menuTitle');
const expandMenuBtn = document.getElementById('expandMenu');
const retractMenuBtn = document.getElementById('retractMenu');

const dsBtn = document.getElementById('dsBtn');
const dsOptions = document.getElementById('dsOptions');

// Functions
function setVisibility(elements, visibility) {
  elements.forEach(element => {
    if (element) {
      if (visibility === 'visible') {
        element.classList.remove('hidden');
      } else {
        element.classList.add('hidden');
      }
    }
  });
}

function toggleMenuBtn(btn) {
  if (btn && btn.classList) {
    const arrow = btn.querySelector('.menu-btn-arrow');
    const options = document.getElementById(btn.id.replace('Btn', 'Options'));

    if (options) {
      if (options.classList.contains('show')) {
        arrow.classList.remove('fa-chevron-down');
        arrow.classList.add('fa-chevron-up');
        options.style.height = options.scrollHeight + 'px';
      } else {
        arrow.classList.remove('fa-chevron-up');
        arrow.classList.add('fa-chevron-down');
        options.style.height = '0px';
      }
    }
  }
}

function activateDivs(optionId) {
  document.querySelectorAll('[id^="ds1-"], [id^="ds2-"], [id^="ds3-"]').forEach(div => {
    div.classList.remove('active');
  });

  ['ds1', 'ds2', 'ds3'].forEach(prefix => {
    const div = document.getElementById(`${prefix}-${optionId}`);
    if (div) div.classList.add('active');
  });
}

function handleMenuBtnClick(btn) {
  const options = document.getElementById(btn.id.replace('Btn', 'Options'));
  if (!options) return;

  const arrow = btn.querySelector('.menu-btn-arrow');
  options.classList.toggle('show');
  arrow.classList.toggle('fa-chevron-up', options.classList.contains('show'));
  arrow.classList.toggle('fa-chevron-down', !options.classList.contains('show'));

  toggleMenuBtn(btn);
}

function initializeMenu() {
  activateDivs(dashboard);

  function toggleVisibility(elements, shouldShow) {
    elements.forEach(el => {
      setTimeout(() => {
        el.classList.toggle('hidden', !shouldShow);
      }, 400);
    });
  }

  const allDashboardElements = document.querySelectorAll(`[id^="ds1-"], [id^="ds2-"], [id^="ds3-"]`);
  const visibleElements = Array.from(allDashboardElements).filter(el => el.id.includes(dashboard));
  const hiddenElements = Array.from(allDashboardElements).filter(el => !el.id.includes(dashboard));

  toggleVisibility(visibleElements, true);
  toggleVisibility(hiddenElements, false);

  document.querySelectorAll('[id^="diseaseBtn-"], [id^="timeResBtn-"], [id^="admLevelBtn-"], #dsBtn').forEach(btn => {
    btn.addEventListener('click', () => handleMenuBtnClick(btn));
    handleMenuBtnClick(btn);

    const name = btn.id.split('-')[1];
    const options = document.getElementById(btn.id.replace('Btn', 'Options'));

    if (options) {
      if (options.id === 'dsOptions') {
        initializeOptionClick(options, name, true);
      } else {
        const data = dashboardsQueryGetter(name);
        initializeOptionClick(options, name, false, data);
      }
    }
  });

  function initializeOptionClick(options, name, isDashboardSelector, data = null) {
    options.querySelectorAll('a').forEach(option => {
      if (isDashboardSelector) {
        option.addEventListener('click', () => {
          activateDivs(option.id);
          dashboard = option.id;
          changeContent(dashboard);
        });
      } else {
        setOptionListeners(option, options, name, data);
      }
    });

    if (options.id.startsWith('admLevel')) {
      const selectedOption = options.querySelector('a.selected');
      if (selectedOption) {
        const optionValue = selectedOption.getAttribute('data-value');
        toggleAdministrativeDivs(optionValue, name);
      }
    }
  }

  function setOptionListeners(option, options, name, data) {
    const optionValue = option.getAttribute('data-value');
    const queryValue = getQueryValue(options.id, data);

    if (String(optionValue) === String(queryValue)) {
      option.classList.add('selected');
      if (options.id.startsWith('admLevel')) {
        displayAdmSelect(name, optionValue);
      }
    }

    option.addEventListener('click', () => {
      setSelectedOption(options.id, option);
      handleOptionClick(options.id, optionValue, name);
    });
  }

  function setSelectedOption(optionsId, option) {
    document.querySelectorAll(`#${CSS.escape(optionsId)} a`).forEach(opt => opt.classList.remove('selected'));
    option.classList.add('selected');
  }

  function getQueryValue(optionsId, data) {
    if (optionsId.startsWith('disease')) {
      return data.query.disease.toLowerCase();
    } else if (optionsId.startsWith('timeRes')) {
      return data.query.time_resolution.toLowerCase();
    } else if (optionsId.startsWith('admLevel')) {
      return data.query.adm_level.toString();
    }
  }

  function handleOptionClick(optionsId, optionValue, dashboard) {
    const options = document.querySelectorAll(`#${optionsId} li`);
    options.forEach(option => option.classList.remove('selected'));
    const selectedOption = document.querySelector(`#${optionsId} li[data-value="${optionValue}"]`);
    if (selectedOption) {
      selectedOption.classList.add('selected');
    }

    if (optionsId.startsWith('admLevel')) {
      const query = dashboardsQueryGetter(dashboard);
      let adm1Value;

      if (query["adm_1"] !== null) {
        adm1Value = query["adm_1"];
      } else if (local) {
        adm1Value = local.state.uf;
      }

      if (!adm1Value) {
        const adm1SelectOptions = document.querySelectorAll(`#adm1Select-${dashboard} li`);
        adm1Value = adm1SelectOptions.length > 0 ? adm1SelectOptions[0].getAttribute('data-value') : null;
      }

      dashboardsQuerySetter(dashboard, { "adm_level": Number(optionValue), "adm_1": adm1Value, "prediction_ids": [] });
      toggleAdministrativeDivs(optionValue, dashboard);
    } else if (optionsId.startsWith('disease')) {
      dashboardsQuerySetter(dashboard, { "disease": optionValue, "prediction_ids": [] });
    } else if (optionsId.startsWith('timeRes')) {
      dashboardsQuerySetter(dashboard, { "time_resolution": optionValue, "prediction_ids": [] });
    }
  }

  function toggleAdministrativeDivs(optionValue, dashboard) {
    const admSelect = document.querySelector(`#adm${optionValue}Select-${dashboard}`);

    if (String(optionValue) === "0") {
      document.querySelectorAll('[id^="ds2-"]').forEach(div => div.classList.add('hidden'));
      dashboardsQuerySetter(dashboard, { "adm_1": null, "adm_2": null, "adm_3": null });
    } else if (String(optionValue) === "1") {
      admSelect?.classList.toggle('show');
      document.querySelectorAll(`[id^="adm1Select"]`).forEach(btn => btn.classList.remove('hidden'));
      document.querySelectorAll(`[id^="adm2Select"]`).forEach(btn => btn.classList.add('hidden'));
      dashboardsQuerySetter(dashboard, { "adm_1": null, "adm_2": null, "adm_3": null });
    } else if (String(optionValue) === "2") {
      document.querySelectorAll(`[id^="adm1Select"]`).forEach(btn => btn.classList.remove('hidden'));
      document.querySelectorAll(`[id^="adm2Select"]`).forEach(btn => btn.classList.remove('hidden'));
      admSelect.style.height = 'auto';
      dashboardsQuerySetter(dashboard, { "adm_1": null, "adm_2": null, "adm_3": null });
    }
  }
}


function displayAdmSelect(name, selectedAdmLevel) {
  const admSelectButtons = document.querySelectorAll(`[id^="adm"][id$="Select-${name}"]`);

  admSelectButtons.forEach(btn => {
    btn.classList.remove('show');
  });

  if (String(selectedAdmLevel) === "0") {
    return;
  }

  const selectedAdmBtn = document.getElementById(`adm${selectedAdmLevel}Select-${name}`);
  if (selectedAdmBtn) {
    selectedAdmBtn.classList.add('show');
  }
} 

function initializeDivs() {
  document.querySelectorAll('[id^="ds-"]').forEach(dsDiv => {
    dsDiv.classList.add('ds-hidden', 'ds-container');
  });

  const initialDiv = document.getElementById(`ds-${dashboard}`);
  if (initialDiv) {
    initialDiv.classList.remove('ds-hidden');
    initialDiv.classList.add('ds-slide-down');
  }

  document.querySelectorAll('#dsOptions a').forEach(option => {
    if (option.id === dashboard) {
      option.classList.add('selected');
    }

    option.addEventListener('click', (event) => {
      if (dashboard !== "forecast_map") {
        event.preventDefault();
      }
      updateDs(option);
      document.querySelectorAll(`[id^="ds1-"], [id^="ds2-"], [id^="ds3-"]`).forEach((el) => {
        if (!el.id.includes(dashboard)) {
          setTimeout(() => {
            el.classList.add('hidden');
          }, 400);
        } else {
          setTimeout(() => {
            el.classList.remove('hidden');
          }, 400);
        }
      });
    });
  });
}

function updateDs(option) {
  document.querySelectorAll('#dsOptions a').forEach(opt => opt.classList.remove('selected'));
  option.classList.add('selected');

  const previousDiv = document.getElementById(`ds-${dashboard}`);
  dashboard = option.id;
  const newDiv = document.getElementById(`ds-${dashboard}`);

  if (previousDiv) {
    previousDiv.classList.remove('ds-slide-down');
    previousDiv.classList.add('ds-slide-up');

    previousDiv.addEventListener('transitionend', () => {
      previousDiv.classList.add('ds-hidden');
      previousDiv.classList.remove('ds-slide-up');

      if (newDiv) {
        newDiv.classList.remove('ds-hidden');
        newDiv.classList.add('ds-slide-down');
      }
    }, { once: true });
  } else if (newDiv) {
    newDiv.classList.remove('ds-hidden');
    newDiv.classList.add('ds-slide-down');
  }
}

function ds2Menu(dashboard, admLevel, buttonId, options) {
  const button = document.getElementById(buttonId);
  const query = dashboardsQueryGetter(dashboard).query;

  button.innerHTML = '';
  button.disabled = false;

  const menu = document.createElement('div');
  menu.className = 'ds2-menu bg-dark text-white';
  const list = document.createElement('ul');
  options.sort((a, b) => a[1].localeCompare(b[1]));

  options.forEach(option => {
    const listItem = document.createElement('li');
    const value = option[0];
    const name = option[1];

    listItem.setAttribute('data-value', value);
    listItem.textContent = name;

    listItem.classList.remove('selected');

    if (query["adm_1"] == value) {
      listItem.classList.add('selected');
    }

    listItem.addEventListener('click', () => {
      selectAdmLevelOption(dashboard, admLevel, value, name);

      setTimeout(() => {
        menu.style.visibility = 'hidden';
      }, 100);
    });

    list.appendChild(listItem);
  });

  menu.appendChild(list);
  button.insertAdjacentElement('afterend', menu);

  button.addEventListener('click', (e) => {
    const rect = button.getBoundingClientRect();
    menu.style.position = 'absolute';
    menu.style.maxHeight = `${window.innerHeight - rect.bottom}px`;
    menu.style.overflowY = 'auto';
    menu.style.visibility = menu.style.visibility === 'visible' ? 'hidden' : 'visible';
    e.stopPropagation();
  });

  document.addEventListener('click', () => {
    menu.style.visibility = 'hidden';
  });

  menu.addEventListener('click', (e) => {
    e.stopPropagation();
  });
}


function updateAdmMenu(dashboard, selectedValue = null) {
  const data = dashboardsQueryGetter(dashboard);
  const disease = data.query.disease;
  const timeRes = data.query.time_resolution;
  const admLevel = data.query.adm_level;
  const admData = data["adm_data"][disease][timeRes];
  let options = [];

  if (admLevel === 1) {
    const adm1Options = Object.keys(admData);
    options = adm1Options.map(adm1 => [adm1, ufs[adm1]]);
  } else if (admLevel === 2 && selectedValue) {
    const adm2Options = admData[selectedValue] || [];
    options = adm2Options.map(adm2 => [adm2[0], adm2[1]]);
  }

  const buttonId = `adm${admLevel}Select-${dashboard}`;
  const selectButton = document.getElementById(buttonId);

  if (!selectButton) {
    return;
  }

  let currentText = selectButton.textContent;
  let currentValue = selectButton.value;

  selectButton.innerHTML = '';

  let existingMenu = selectButton.nextElementSibling;
  if (existingMenu && existingMenu.classList.contains('ds2-menu')) {
    existingMenu.remove();
  }

  if (options && options.length > 0) {
    ds2Menu(dashboard, admLevel, buttonId, options);
    selectButton.disabled = false;

    if (currentValue) {
      selectButton.textContent = currentText;
      selectButton.value = currentValue;
    }
  } else {
    selectButton.disabled = true;
  }
}

function selectAdmLevelOption(dashboard, admLevel, value, name) {
  const button = document.getElementById(`adm${admLevel}Select-${dashboard}`);
  dashboardsQuerySetter(dashboard, { [`adm_${admLevel}`]: value });
  button.textContent = name;
  button.value = value;
}

document.addEventListener('DOMContentLoaded', function() {
  const footer = document.querySelector('footer');
  const navbar = document.getElementById('navbar');
  const expandeds = document.querySelectorAll('.menu-btn-expanded');
  const retracteds = document.querySelectorAll('.menu-btn-retracted');

  function updateMenuState() {
    if (menuState === "retracted") {
      menuTitle.classList.remove('show');
      setVisibility([expandMenuBtn].concat(Array.from(retracteds)), 'visible');
      setVisibility([retractMenuBtn].concat(Array.from(expandeds)), 'hidden');

      document.querySelectorAll('[id^="diseaseOptions-"], [id^="timeResOptions-"], [id^="admLevelOptions-"], #dsOptions').forEach(option => {
        option.classList.add('hidden');
      });
    } else if (menuState === "expanded") {
      menuTitle.classList.add('show');
      setVisibility([retractMenuBtn].concat(Array.from(expandeds)), 'visible');
      setVisibility([expandMenuBtn].concat(Array.from(retracteds)), 'hidden');

      document.querySelectorAll('[id^="diseaseOptions-"], [id^="timeResOptions-"], [id^="admLevelOptions-"], #dsOptions').forEach(option => {
        option.classList.remove('hidden');
      });
    }

    if (menu.classList.contains('expanded')) {
      footer.style.marginLeft = 'var(--menu-width-expanded)';
      navbar.style.marginLeft = 'var(--menu-width-expanded)';
    } else {
      footer.style.marginLeft = 'var(--menu-width-retracted)';
      navbar.style.marginLeft = 'var(--menu-width-retracted)';
    }
  }

  function setMenuState() {
    if (window.innerWidth <= 1500) {
      if (!menu.classList.contains('retracted')) {
        menu.classList.remove('expanded');
        menu.classList.add('retracted');
        menuState = "retracted";
      }
    } else if (window.innerWidth >= 1200) {
      if (!menu.classList.contains('expanded')) {
        menu.classList.remove('retracted');
        menu.classList.add('expanded');
        menuState = "expanded";
      }
    }
    updateMenuState();
  }

  function toggleMenu() {
    if (isTransitioning) return;

    isTransitioning = true;

    if (menuState === "retracted") {
      menu.classList.remove('retracted');
      menu.classList.add('expanded');
      menuState = "expanded";
    } else if (menuState === "expanded") {
      menu.classList.remove('expanded');
      menu.classList.add('retracted');
      menuState = "retracted";
    }

    updateMenuState();

    setTimeout(() => {
      isTransitioning = false;
    }, 300);
  }

  const observer = new MutationObserver(function (mutationsList) {
    mutationsList.forEach(function (mutation) {
      if (mutation.attributeName === 'class') {
        updateMenuState();
      }
    });
  });

  observer.observe(menu, { attributes: true });

  setMenuState();
  initializeMenu();
  initializeDivs();

  expandMenuBtn.addEventListener('click', toggleMenu);
  retractMenuBtn.addEventListener('click', toggleMenu);

  window.addEventListener('resize', setMenuState);

  menu.addEventListener('click', function(event) {
    if (menuState === "retracted") {
      toggleMenu();
    }
  });

  document.querySelectorAll('.admlvl-btn').forEach(btn => {
    btn.addEventListener('click', function() {
      const admLevel = this.getAttribute('data-value');
      const dashboard = this.id.split('-')[1];

      document.querySelectorAll(`#ds2-${dashboard} .ds-toggle-btn`).forEach(btn => {
        btn.classList.remove('active');
      });

      const toggleButton = document.getElementById(`adm${admLevel}Select-${dashboard}`);
      if (toggleButton) {
        toggleButton.classList.add('active');
      }
    });
  });
})
</script>
