{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}
{% load misc %}
{% block title %}Model {{ model.id }}{% endblock %}

{% block content %}
<div class="container shadow p-5 mb-3 bg-body rounded font-golos">
  <center>
    <h1>
      <span>Model {{ model.id }}</span>
      <div class="icons">
          {% if user.is_authenticated %}
          {% if user.username == model.author.user.username %}
          <a href="{% url 'edit-model' model_id=model.id %}" title="Edit Model"><i class="fa-solid fa-pencil fs-6 edit-model"></i></a>
          {% endif %}
          {% endif %}
          <a href="{{ model.repository }}" title="Repository" target="_blank" rel="noopener noreferrer"><i alt="{% trans 'Repository' %}" class="fa-solid fa-brands fs-6 fa-github"></i></a>
      </div>
    </h1>
  </center>
  <center>
    {% for tag in tags %}
    <span 
      class="badge rounded-pill model-tag" 
      style="background-color: {{ tag.color }};"
    >
      {{ tag.name }}
    </span>
    {% endfor %}
  </center>
  <center><hr style="width:70%;"></center>

  <div class="container" style="width: 70%;">
    <center>
      <div style="max-width: 100%; word-break: break-word;">
        <h3>{{ model.name }}</h3>
      </div>
    </center>

    <br>

    <table class="table table-bordered">
      <tbody>
        <tr>
          <th scope="row" class="fw-normal">{% trans "Author" %}</th>
        <td class="d-flex justify-content-center"><a href="{% url 'profile' model.author.user.username %}" title="{{ model.author.user.username }}" style="text-decoration:none;">{{ model.author }}</a></td>
        </tr>
        <tr>
          <th scope="row" class="fw-normal">{% trans "Disease" %}</th>
          <td class="d-flex justify-content-center">{{ model.get_disease_display }}</td>
        </tr>
        <tr>
          <th scope="row" class="fw-normal">{% trans "Administrative Level" %}</th>
          <td class="d-flex justify-content-center">{{ model.get_adm_level_display }}</td>
        </tr>
        <tr>
          <th scope="row" class="fw-normal">{% trans "Time Resolution" %}</th>
          <td class="d-flex justify-content-center">{{ model.get_time_resolution_display }}</td>
        </tr>
        <tr>
          <th scope="row" class="fw-normal">{% trans "Implementation Language" %}</th>
          <td class="d-flex justify-content-center">{{ model.implementation_language }}</td>
        </tr>
        <tr>
          <th scope="row" class="fw-normal">{% trans "Repository" %}</th>
          <td class="d-flex justify-content-center"><a href="{{ model.repository }}">{{ model.repository|short_repository_link }}</a></td>
        </tr>
      </tbody>
    </table>

    <br>

    <h4>{% trans "Description" %}:</h4>
    <div style="word-wrap: break-word; overflow-wrap: break-word; max-width: 100%;">
      {{ model.description }}
    </div>
  </div>

</div>

<div id="predictions" class="container shadow p-5 mb-3 bg-body rounded font-golos">
  <h3 class="text-start">{% trans "Predictions" %}</h3>
</div>

<meta name="csrf-token" content="{{ csrf_token }}">
<script src="{% static 'js/registry/model.js' %}"></script>
<script>
let predictions = {{ predictions|safe }};
predictions = predictions.map(p => new Prediction(p))
let is_author = false;
{% if user.is_authenticated %}
  {% if user.username == model.author.user.username %}
    is_author = true;
  {% endif %}
{% endif %}
list(predictions, is_author);
</script>

<style>
h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 .icons {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0px;
  right: 0px;
  width: 20px;
  gap: 5px;
}

.icons a {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.fa-solid {
  height: 13px;
  font-size: 13px;
  color: #9a9996;
}
</style>

{% endblock %}
