{% extends 'main/base.html' %}
{% load i18n %}
{% load plotly_dash %}

{% block title %}{% translate "About" %}{% endblock %}

{% block content %}
  <div class="container mt-5">
    <h1>{% translate "About Mosqlimate" %}</h1>
    <p class="lead">
    The Mosqlimate data platform is an API developed by the <a href="https://mosqlimate.org">Mosqlimate Project</a>
    </p>
    <p>
        The project is led by Flávio Codeço Coelho, Professor of Mathematical epidemiology at the <a href="https://emap.fgv.br">Applied Mathematics School</a> at Getulio Vargas Foundation.

        You can find more about the Project and its team <a href="https://mosqlimate.org">here</a>.
    </p>


    <div class="my-4">
      <h3 class="mb-3">{% translate "Watch our video series on Youtube" %}</h3>
      <div class="ratio" style="--bs-aspect-ratio: 60%;">
        <iframe
          src="https://www.youtube.com/embed/videoseries?si=lc9q8r3oxecTHALi&amp;list=PLh4FLfhFN5iqU6GeaDoo0Wrz6_YbhLDeA"
          title="Mosqlimate Video Playlist"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
          referrerpolicy="strict-origin-when-cross-origin"
        ></iframe>
      </div>
    </div>
  </div>
{% endblock %}
