
<!DOCTYPE html>
  {% load static %}
<html>

<head>
  {% load socialaccount %}
  {% load django_bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% bootstrap_messages %}
  <title>{% block title %}Mosqlimate{% endblock %}</title>
</head>


<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <!-- Navbar screen toggle -->
      <a class="navbar-brand" href="#">Mosqlimate</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Navbar Items -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/about/">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">API Docs</a>
          </li>
        </ul>
      </div>
      <!-- Navbar User & Login/out -->
      <div style="margin-top:5px;">
        <a href="{% provider_login_url "github" %}" class="white">
          Login with GitHub <i class="fa fa-github"></i>
        </a>
      </div>
    <!-- <div> -->
    <!--     {% if user.is_authenticated %} -->
    <!--       {{user.username}} -->
    <!--       <a href="/accounts/logout">Logout</a> -->
    <!--     {% else %} -->
    <!--       <a href="/accounts/login">Login</a> -->
    <!--     {% endif %} -->
    <!-- </div> -->
  </nav>
  <!-- Page content -->
  <div class="container-fluid">
    {% block content %} {% endblock %}
  </div>
</body>
</html>
