{% extends 'main/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% translate "Edit model" %} #{{model.id}}{% endblock %}
{% block content %}

{% if user.is_authenticated %}
<div class="container edit-model shadow p-5 mb-3 bg-body rounded font-golos">
    <legend>{% translate "Edit model" %} #{{model.id}}</legend>
    <form method="post" id="editModelForm" action="{% url 'edit-model' model_id=model.id %}">
        {% csrf_token %}
        <div class="container shadow p-5 mb-3 bg-body rounded">
            <div class="row mb-3">
                <div class="col">
                    <label for="model_name">{% translate "Model Name" %}:</label>
                    <input type="text" id="edit-model-name" name="model_name" value="{{ model.name }}" class="form-control" maxlength="100" required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label for="model_description">{% translate "Description" %}:</label>
                    <textarea rows="4" id="edit-model-desc" name="model_description"
                        class="form-control" maxlength="500" placeholder="{% translate 'Model description' %}">{{ model.description }}</textarea>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label for="model_time_resolution">{% translate "Time resolution" %}:</label>
                    <select id="edit-time-resolution" name="model_time_resolution" class="form-control" required>
                        {% for value, label in time_resolutions %}
                        <option value="{{ value }}" {% if value == model.time_resolution %}selected{% endif %}>
                        {{ label }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <label for="model_adm_level">{% translate "ADM Level" %}:</label>
                    <select id="edit-adm-level" name="model_adm_level" class="form-control" required>
                        {% for level, label in adm_levels %}
                        <option value="{{ level }}" {% if level == model.ADM_level %}selected{% endif %}>
                        {{ level }} - {{ label }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <label for="model_disease">{% translate "Disease" %}:</label>
                    <select id="edit-disease" name="model_disease" class="form-control" required>
                        {% for disease, label in diseases %}
                        <option value="{{ disease }}" {% if disease == model.disease %}selected{% endif %}>
                        {{ label }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label for="edit-model-spatial">{% translate "Output format" %}:</label>
                    <div class="form-check edit-model-spatial">
                      <input class="form-check-input" type="radio" name="modelQuantitativeCategorical" id="modelQuantitative">
                      <label class="form-check-label" for="modelQuantitative">
                        Quantitative
                      </label>
                    </div>
                    <div class="form-check edit-model-spatial">
                      <input class="form-check-input" type="radio" name="modelQuantitativeCategorical" id="modelCategorical" checked>
                      <label class="form-check-label" for="modelCategorical">
                        Categorical
                      </label>
                    </div>
                </div>
                <div class="col">
                    <label for="model_repository">{% translate "Github Repository" %}:</label>
                    <input type="text" id="edit-model-repo" name="model_repository" value="{{ model.repository }}" class="form-control" maxlength="150" placeholder="https://github.com/<user>/<repository>/" required>
                </div>
                <div class="col">
                    <label for="model_language">{% translate "Implementation language" %}:</label>
                    <select id="edit-model-lang" name="model_language" class="form-control" required>
                        {% for language in implementation_languages %}
                        <option value="{{ language }}" {% if language == model.implementation_language %}selected{% endif %}>
                        {{ language }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-auto">
                <a data-bs-toggle="modal" data-bs-target="#delete-model" name="delete_model" class="btn btn-outline-danger">{% translate "Delete model" %}</a>
            </div>
            <div class="col-auto">
                <button type="submit" name="save_model" class="btn btn-primary">{% translate "Save changes" %}</button>
            </div>
        </div>
    </form>
</div>
{% endif %}

{% if user.is_authenticated %}
<div class="modal fade" id="delete-model" tabindex="-1" role="dialog" aria-labelledby="delete-model-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delete-model-label">{% translate "Delete model" %} #{{model.id}}?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post" id="deleteModelForm" action="{% url 'edit-model' model_id=model.id %}">
        <input type="hidden" id="update-model-id" name="model_id" value="{{ model.id }}">
        {% csrf_token %}
        <div class="modal-body">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">{% translate "Cancel" %}</button>
          <button type="submit" name="delete_model" class="btn btn-danger">{% translate "Delete" %}</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}
