{% extends 'main/base.html' %}

{% load vis_echarts_components %}

{% block title %}Home{% endblock %}

{% block content %}
  <div class="container mt-5">
    <h1 class="display-4 mb-4">Mosqlimate Data API</h1> <!-- Added mb-4 class for margin-bottom -->
    <p class="lead">
      This platform makes available data to be used in the forecast of Arbovirus diseases in Brazil. It also serves as an open registry of <a href="https://api.mosqlimate.org/models/">forecasting models</a> for such diseases in Brazil. Relevant climate data is also made available to help include climate influence into the modeling.
    </p>
    <p>
      Currently, only data for dengue and chikungunya are available through this platform. More datasets will be made available in time. All the data made available are in the public domain and are official data made available by the Brazilian Ministry of Health.
    </p>
    <p>
      The purpose of this platform is to enhance the comparability of forecasting models by making it possible for all models to learn from the same data. The model registry is open to anyone willing to contribute but will require creating a user account first. The Mosqlimate project reserves the right to curate the model collection and decide which one to make available through the platform.
    </p>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-12">
        {% vis_echarts %}
      </div>
    </div>
  </div>

  <!-- footer -->
  <div style="margin-bottom: 100px;"></div>
{% endblock %}
