{% extends 'main/base.html' %}
{% load i18n %}
{% load plotly_dash %}

{% block title %}{% translate "About" %}{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1>{% translate "About Mosqlimate" %}</h1>
  <p class="lead">
  The Mosqlimate data platform is an API developed by the <a href="https://mosqlimate.org">Mosqlimate Project</a>
  </p>
  <p>
      The project is led by Flávio Codeço Coelho, Professor of Mathematical epidemiology at the <a href="https://emap.fgv.br">Applied Mathematics School</a> at Getulio Vargas Foundation.

      You can find more about the Project and its team <a href="https://mosqlimate.org">here</a>.
  </p>

  <div class="my-4">
    <h3 class="mb-3">{% translate "Watch our video series on Youtube" %}</h3>
    <div id="videoCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        {% for video in videos %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <div class="ratio ratio-16x9">
              <iframe src="https://www.youtube.com/embed/{{ video }}" allowfullscreen></iframe>
            </div>
          </div>
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#videoCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" style="background-color: #000000;"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#videoCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" style="background-color: #000000;"></span>
      </button>
    </div>
  </div>
</div>
{% endblock %}
