{% extends 'main/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% translate "Edit model" %} #{{model.id}}{% endblock %}
{% block content %}

{% if user.is_authenticated %}
<div class="container edit-model shadow p-5 mb-3 bg-body rounded font-golos">
    <legend>{% translate "Edit model" %} #{{model.id}}</legend>
    <form method="post" id="editModelForm" action="{% url 'edit-model' model_id=model.id %}">
        {% csrf_token %}
        <div class="container shadow p-5 mb-3 bg-body rounded">
            <div class="row mb-3">
                <div class="col">
                    <label for="model_name"><b>{% translate "Model name" %}:</b></label>
                    <input type="text" id="edit-model-name" name="model_name" value="{{ model.name }}" class="form-control" maxlength="100" required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label for="model_description"><b>{% translate "Description" %}:</b></label>
                    <textarea 
                        rows="4" 
                        id="edit-model-desc" 
                        name="model_description"
                        class="form-control" 
                        maxlength="500" 
                        placeholder="{% translate 'Model description' %}">{{ model.description }}
                    </textarea>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label for="model_repository"><b>{% translate "Github repository" %}:</b></label>
                    <input type="text" id="edit-model-repo" name="model_repository" value="{{ model.repository }}" class="form-control" maxlength="150" placeholder="https://github.com/<user>/<repository>/" required>
                </div>
                <div class="col">
                    <label for="model_language"><b>{% translate "Implementation language" %}:</b></label>
                    <select id="edit-model-lang" name="model_language" class="form-control" required>
                        {% for language in implementation_languages %}
                        <option value="{{ language }}" {% if language == model.implementation_language %}selected{% endif %}>
                        {{ language }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <br>
            <center><h4>{% translate "Visualization" %}</h4></center>
            <center><hr></center>

            <div class="row mb-3">
                <div class="col">
                    <label for="model_temporal"><b>{% translate "Classification axis" %}:</b></label>
                    <input type="hidden" name="model_temporal" id="edit-model-temporal">
                    <div class="form-check edit-model-axis">
                      <input class="form-check-input" type="checkbox" name="model-temporal-box" id="model-temporal" {% if model.temporal %}checked{% endif %}>
                      <label class="form-check-label" for="model-temporal-box">
                      {% translate "Time" %}
                      </label>
                    </div>
                    <input type="hidden" name="model_spatial" id="edit-model-spatial">
                    <div class="form-check edit-model-axis">
                      <input class="form-check-input" type="checkbox" name="model-spatial-box" id="model-spatial" {% if model.spatial %}checked{% endif %}>
                      <label class="form-check-label" for="model-spatial-box">
                      {% translate "Space" %}
                      </label>
                    </div>
                </div>
                <div class="col">
                    <input type="hidden" name="model_categorical" id="edit-model-categorical">
                    <label for="model_quantitative_categorical"><b>{% translate "Output format" %}:</b></label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio"
                        name="model_quantitative_categorical" id="model-quantitative" {% if model.categorical == False %}checked{% endif %}>
                        <label class="form-check-label" for="model-quantitative-box">
                            {% translate "Quantitative" %}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio"
                        name="model_quantitative_categorical" id="model-categorical" {% if model.categorical == True %}checked{% endif %}>
                        <label class="form-check-label" for="model-categorical-box">
                            {% translate "Categorical" %}
                        </label>
                    </div>
                </div>
                <div class="col">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" {% if model.sprint == True %}checked value="true"{% else %}value="false"{% endif %} id="model-sprint" name="model_sprint">
                    <label class="form-check-label" for="model-sprint">
                       Sprint 2024/25
                    </label>
                  </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-auto">
                <a data-bs-toggle="modal" data-bs-target="#delete-model" name="delete_model" class="btn btn-outline-danger">{% translate "Delete model" %}</a>
            </div>
            <div class="col-auto">
                <button type="submit" name="save_model" class="btn btn-primary">{% translate "Save changes" %}</button>
            </div>
        </div>
    </form>
</div>
{% endif %}

{% if user.is_authenticated %}
<div class="modal fade" id="delete-model" tabindex="-1" role="dialog" aria-labelledby="delete-model-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delete-model-label">{% translate "Delete model" %} #{{model.id}}?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post" id="deleteModelForm" action="{% url 'edit-model' model_id=model.id %}">
        <input type="hidden" id="update-model-id" name="model_id" value="{{ model.id }}">
        {% csrf_token %}
        <div class="modal-body">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">{% translate "Cancel" %}</button>
          <button type="submit" name="delete_model" class="btn btn-danger">{% translate "Delete" %}</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endif %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var form = document.getElementById('updateModelForm');

        var spatialRadio = document.getElementById('model-spatial');
        var spatialField = document.getElementById('edit-model-spatial');

        var temporalRadio = document.getElementById('model-temporal');
        var temporalField = document.getElementById('edit-model-temporal');

        var quantitativeRadio = document.getElementById('model-quantitative');
        var categoricalRadio = document.getElementById('model-categorical');
        var categoricalField = document.getElementById('edit-model-categorical');

        var sprintCheckbox = document.getElementById('model-sprint');

        updateModelCategoricalField();
        updateSpatialField();
        updateTemporalField();

        spatialRadio.addEventListener('change', updateSpatialField);
        temporalRadio.addEventListener('change', updateTemporalField);
        quantitativeRadio.addEventListener('change', updateModelCategoricalField);
        categoricalRadio.addEventListener('change', updateModelCategoricalField);

        function updateModelCategoricalField() {
            if (quantitativeRadio.checked) {
                categoricalField.value = 'False';
            } else if (categoricalRadio.checked) {
                categoricalField.value = 'True';
            }
        }

        function updateSpatialField() {
            spatialField.value = spatialRadio.checked ? 'True' : 'False';
        }

        function updateTemporalField() {
            temporalField.value = temporalRadio.checked ? 'True' : 'False';
        }

        sprintCheckbox.addEventListener('change', function() {
          if (this.checked) {
            this.value = 'true';
          } else {
            this.value = 'false';
          }
        });
    });
</script>
{% endblock %}
