{% block models_box %}
{% load model_component %}

<div class="container models shadow p-3 mb-5 bg-body rounded">
  <h2>Models</h2>
  <table id="models-box" class="table table-hover nowrap">
    <thead>
      <tr>
        <th scope="col">
          ID
        </th>
        <th scope="col">
          Name
        </th>
        <th scope="col">
          Type
        </th>
        <th scope="col">
          Repository
        </th>
        <th scope="col"><center>
          Language
        </center></th>
        <th scope="col"><center>
          Predictions
        </center></th>
        <th scope="col" data-sort-default="desc"><center>
          Updated
        </center></th>
      </tr>
    </thead>
    <tbody>
      {% for model in models %}
      <tr>
        <td>{{model.id}}</td>
        <td>{{model.name}}</td>
        <td>{{model.type}}</td>
        <td><a href="{{ model.repository }}">{{model.repository|get_repo}}</a></td>
        <td><center>{{model.implementation_language}}</center></td>
        <td><center>{{model.predictions_count}}</center></td> 
        <td><center>{{model.updated|date:"Y-m-d"}}</center></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<style>

th {
  /* text-align: center; */
  font-size: 1.2em;
  position: relative;
}

td {
  /* text-align: center; */
  font-size: 0.9em;
  position: relative;
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
}

tr:hover td {
  /* background-color: #f5f5f5; */
  overflow: visible;
  text-overflow: "";
  white-space: normal;
  cursor: pointer;
}

/* tr:hover::after { */
/*   overflow: auto; */
/*   box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); */
/* } */

.search-box-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search-box-container label {
  display: flex;
  flex-direction: row;
  align-items:center;
  gap: 0.4em;
  margin: 1em;
}

.show-entries-container {
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  margin: 1em;
}

.show-entries-container label {
  margin-right: 5px;
  display: flex;
  flex-direction: row;
  gap: 0.4em;
  font-size: 0.85em;
  align-items: center;
}

.show-entries-container select {
  width: auto;
  font-size: 0.85em;
  margin: 0;
}

.pagination-container {
  display: flex;
  justify-content: flex-end;
  font-size: 0.85em;
}

.show-info {
  font-size: 0.85em;
}

</style>
<script>
var table = new DataTable('#models-box', {
    responsive: true,
    pageLength: 3,
    lengthMenu: [3, 6, 12],
    order: [[6, 'desc']]
});
$('.dataTables_filter').addClass('search-box-container');
$('.dataTables_length').addClass('show-entries-container');
$('.dataTables_info').addClass('show-info');
$('.dataTables_paginate').addClass('pagination-container');
</script>

{% endblock %}
