{% extends 'main/base.html' %}
{% load datastore_components %}
{% load i18n %}

{% block title %}Datastore{% endblock %}

{% block content %}
<div class="container infodengue shadow p-5 mb-3 bg-body rounded">
  {% infodengue %}
</div>

<div class="container climate shadow p-5 mb-3 bg-body rounded">
  {% climate %}
</div>

<div class="container mosquito shadow p-5 mb-3 bg-body rounded">
  {% mosquito %}
</div>

<div class="container mosquito shadow p-5 mb-3 bg-body rounded">
  {% episcanner %}
</div>
{% endblock %}
