{% load static %}
{% load i18n %}

{% block vis_echarts %}

<div class="floating-window-container container" style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);">
  <div class="row gx-5 pt-4 text-center">
    <div class="col">
      <label>{% translate "Select the disease" %}:</label>
      <select id="diseaseDropdown" onchange="updateChart()">
        <option value="dengue">Dengue</option>
        <option value="chik">Chikungunya</option>
        <option value="zika">Zika</option>
      </select>
    </div>
    <div class="col">
      <label>{% translate "Select the incidence" %}:</label>
      <select id="incidenceSelector" class="col" onchange="updateChart()">
        <option value="total_cases">{% translate "Cumulative cases" %}</option>
        <option value="total_cases_100k_hab">{% translate "Cases per 100k hab." %}</option>
      </select>
    </div>
  </div>

  <div class="row pt-3">
    <div class="floating-window" id="floatingWindow" style="height: 650px; width: 100%;" div>
  </div>
</div>

<script type="text/javascript">
/**
 * Initialize and configure ECharts chart.
 */
function initializeEChart(disease, incidenceType) {
  var myChart = echarts.init(document.getElementById('floatingWindow'));
  const blueVioletPalette = [
    '#cddcf9',
    '#4169E1',
    '#483D8B',
    '#6A5ACD',
    '#7B68EE',
    '#781679'
  ];

  if (myChart) {
    $.get("{% static 'data/geo/BR.json' %}", function (brJson) {
      myChart.hideLoading();
      echarts.registerMap('BR', { geoJSON: brJson });

      var diseaseDataMapping = {
        'dengue': {{ br_data_dengue|safe }},
        'chik': {{ br_data_chik|safe }},
        'zika': {{ br_data_zika|safe }},
        'dengue_100k': {{ br_data_dengue_100k|safe }},
        'chik_100k': {{ br_data_chik_100k|safe }},
        'zika_100k': {{ br_data_zika_100k|safe }},
      };

      var diseaseName = {
          'dengue': 'Dengue',
          'chik': 'Chikungunya',
          'zika': 'Zika'
      }

      var br_data = incidenceType === 'total_cases_100k_hab' ? diseaseDataMapping[disease + '_100k'] : diseaseDataMapping[disease];

      var total_cases_title = `Cumulative ${diseaseName[disease]} cases by UF in {{ current_year|safe }}`;
      var total_cases_100k_title = `${diseaseName[disease]} cases per 100k hab. by UF in {{ current_year|safe }}`

      var map_title = (incidenceType === 'total_cases_100k_hab') ? total_cases_100k_title : total_cases_title;
      var chart_title = (incidenceType === 'total_cases_100k_hab') ? total_cases_100k_title : total_cases_title;
      var max_total_cases = br_data[0].value;
      var min_total_cases = br_data[br_data.length - 1].value;

      const mapOption = {
        width: '512px',
        height: '529px',
        grid: {
          top: '5%'
        },
        title: {
          text: map_title,
          left: 'center',
          padding: [20, 0, 0, 0]
        },
        visualMap: {
          left: 'right',
          min: min_total_cases,
          max: max_total_cases,
          type: 'continuous',
          inRange: {
            color: blueVioletPalette,
            opacity: 0.8
          },
          text: ['High', 'Low'],
          calculable: true,
          orient: 'vertical',
          top: '25%',
          left: '80%',
        },
        series: [
          {
            id: 'total_cases',
            type: 'map',
            roam: true,
            mapType: 'BR',
            animationDurationUpdate: 1000,
            universalTransition: true,
            data: br_data,
            }
          ],
        };

      const barOption = {
        width: '80%',
        height: '80%',
        grid: {
          left: '10%',
          top: '10%'
        },
        title: {
          text: chart_title,
          left: 'center',
          padding: [20, 0, 0, 0],
          fontSize: 18,
        },
        visualMap: {
          left: 'right',
          type: 'piecewise',
          <!-- Impossible to use data value instead of dataIndex? -->
          min: 0,
          max: 26,
          inRange: {
            color: blueVioletPalette,
            opacity: 0.8
          },
          text: ['High', 'Low'],
          calculable: true,
          orient: 'vertical',
          top: '25%',
          left: '84%',
        },
        xAxis: {
          type: 'value',
          axisLabel: {
            fontSize: 14
          }
        },
        yAxis: {
          type: 'category',
          axisLabel: {
            rotate: 55, 
            interval: 0,
            fontSize: 13,
            padding: [0, 0, 0, 0], 
          },
          data: br_data.map(function (item) {
            return item.name;
          })
        },
        animationDurationUpdate: 1000,
        series: {
          type: 'bar',
          id: 'total_cases',
          data: br_data.map(function (item) {
            return item.value;
          }),
          label: {
            show: true,
            position: 'right',
            formatter: '{c}',
            fontSize: 13,
          },
          universalTransition: true
        },
        tooltip: {
          formatter: '{b}: {c} cases'
        },
        responsive: true,
        maintainAspectRatio: false
      };

      let isMap = true;

      myChart.setOption(mapOption);

      myChart.getZr().on('click', function (params) {
        isMap = !isMap;

        if (isMap) {
          myChart.setOption(mapOption);
        } else {
          myChart.setOption(barOption);
        }
      });

      window.addEventListener('resize', function () {
        myChart.resize();
      });
    });
  }
}

function updateChart() {
  var disease = $('#diseaseDropdown').val();
  var incidenceType = $('#incidenceSelector').val();

  initializeEChart(disease, incidenceType);
}

$(document).ready(function () {
  initializeEChart("dengue", "total_cases");
});
</script>

{% endblock %}
