{% load static %}
<style>
  /* Add CSS for borders */
  .row div {
    border: 1px solid #ccc;
    padding: 10px;
    /* Optional: Add padding for better spacing */
  }

  /* Add CSS for the floating window */
  .floating-window {
    position: fixed;
    top: 40%;
    right: -50%; /* Start off-screen to the right */
    width: 50%; /* Adjust the width as needed */
    /* height: 50%; */
    background-color: rgba(255, 255, 255, 0.9); /* Opacity */
    transition: right 1s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 999; /* Ensure it's above other content */
  }

  /* Add a class to open the floating window */
  .floating-window.open {
    right: 0;
  }
</style>

<!-- Start Component -->
{% block vis_echarts %}
<div class="floating-window" id="floatingWindow">
  <div class="container">
    <div class="row">
        <div id="main" style="width: 100%; height: 300px;"></div>
        <script type="text/javascript">
          // Initialize ECharts
          var myChart = echarts.init(document.getElementById('main'));

          if (myChart) {
            // Load the BR map data
            $.get("https://info.dengue.mat.br/datasets/cdn/BR.json", function (brJson) {
              // Log the loaded geographic data
              myChart.hideLoading();
              echarts.registerMap('BR', brJson);

              var br_data = {{ br_data|safe }};
              var map_title = "Cumulative dengue cases by State in {{ current_year|safe }}";
              var chart_title = "Cumulative dengue cases by State in {{ current_year|safe }}";
              var min_total_cases = {{ min_total_cases|safe }};
              var max_total_cases = {{ max_total_cases|safe }};

              br_data.sort(function (a, b) {
                return a.value - b.value;
              });

              const mapOption = {
                title: {
                  text: map_title,
                  left: 'center'
                },
                visualMap: {
                  left: 'right',
                  min: min_total_cases,
                  max: max_total_cases,
                  inRange: {
                    // prettier-ignore
                    color: [
                      '#313695', '#4575b4', '#74add1', '#abd9e9', '#e0f3f8',
                      '#ffffbf', '#fee090', '#fdae61', '#f46d43', '#d73027', '#a50026'
                    ]
                  },
                  text: ['High', 'Low'],
                  calculable: true
                },
                series: [
                  {
                    id: 'population',
                    type: 'map',
                    roam: true,
                    mapType: 'BR',
                    animationDurationUpdate: 1000,
                    universalTransition: true,
                    data: br_data
                  }
                ],
              };

              const barOption = {
                title: {
                  text: chart_title,
                  left: 'center'
                },
                xAxis: {
                  type: 'value'
                },
                yAxis: {
                  type: 'category',
                  axisLabel: {
                    rotate: 55
                  },
                  data: br_data.map(function (item) {
                    return item.name;
                  })
                },
                animationDurationUpdate: 1000,
                series: {
                  type: 'bar',
                  id: 'population',
                  data: br_data.map(function (item) {
                    return item.value;
                  }),
                  universalTransition: true
                }
              };

              let currentOption = mapOption;

              myChart.setOption(mapOption);

              setInterval(function () {
                currentOption = currentOption === mapOption ? barOption : mapOption;
                myChart.setOption(currentOption, true);
              }, 3000);
            });
          }

          // JavaScript to control the floating window behavior
          const floatingWindow = document.getElementById('floatingWindow');
          setTimeout(function () {
            floatingWindow.classList.add('open');
          }, 1000); // Open the window after 1 second (adjust as needed)
        </script>
      </div>
    </div>
  </div>
</div>
{% endblock %}
