{% load static %}

{% block vis_echarts %}

<div class="floating-window-container" style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);">
  <div class="floating-window" id="floatingWindow" style="height: 650px; width: 100%;" div>
</div>

<script type="text/javascript">
/**
 * Initialize and configure ECharts chart.
 */
function initializeEChart() {
  var myChart = echarts.init(document.getElementById('floatingWindow'));
  const blueVioletPalette = [
    '#cddcf9',
    '#4169E1',
    '#483D8B',
    '#6A5ACD',
    '#7B68EE',
    '#781679'
  ];

  if (myChart) {
    // Load the BR map data
    $.get("{% static 'data/geo/BR.json' %}", function (brJson) {
      // Log the loaded geographic data
      myChart.hideLoading();
      // echarts.registerMap('BR', brJson);
      echarts.registerMap('BR', {geoJSON: brJson});

      var br_data = {{ br_data|safe }};
      
      var map_title = "Cumulative dengue cases by State in {{ current_year|safe }}";
      var chart_title = "Cumulative dengue cases by State in {{ current_year|safe }}";
      var min_total_cases = {{ min_total_cases|safe }};
      var max_total_cases = {{ max_total_cases|safe }};

      br_data.sort(function (a, b) {
        return a.value - b.value;
      });

      const mapOption = {
        width: '512px',
        height: '529px',
        grid: {
          top: '0%'
        },
        title: {
          text: map_title,
          left: 'center',
          padding: [20, 0, 0, 0]
        },
        visualMap: {
          left: 'right',
          min: min_total_cases,
          max: max_total_cases,
          inRange: {
            type: 'continuous',
            color: blueVioletPalette,
            opacity: 0.8
          },
          text: ['High', 'Low'],
          calculable: true,
          orient: 'vertical',
          top: '25%',
          left: '80%',
        },
        series: [
          {
            id: 'total_cases',
            type: 'map',
            roam: true,
            mapType: 'BR',
            animationDurationUpdate: 1000,
            universalTransition: true,
            data: br_data,
          }
        ],
      };

      const barOption = {
        width: '80%',
        height: '80%',
        grid: {
          left: '10%'
        },
        title: {
          text: chart_title,
          left: 'center',
          padding: [20, 0, 0, 0],
          fontSize: 18,
        },
        xAxis: {
          type: 'value',
          axisLabel: {
            fontSize: 14
          }
        },
        yAxis: {
          type: 'category',
          axisLabel: {
            rotate: 55, 
            interval: 0,
            fontSize: 13,
            padding: [0, 0, 0, 0], 
          },
          data: br_data.map(function (item) {
            return item.name;
          })
        },
        animationDurationUpdate: 1000,
        series: {
          type: 'bar',
          id: 'total_cases',
          data: br_data.map(function (item) {
            return item.value;
          }),
          label: {
            show: true,
            position: 'right',
            formatter: '{c}',
            // fontWeight: 'bold',
            fontSize: 13,
          },
          color: blueVioletPalette[6], // ['#83b861']
          universalTransition: true
        },
        responsive: true,
        maintainAspectRatio: false
      };

      let currentOption = mapOption;

      myChart.setOption(mapOption);

      setInterval(function () {
        currentOption = currentOption === mapOption ? barOption : mapOption;
        myChart.setOption(currentOption, true);
      }, 4000);

      // Resize the chart when the window is resized
      window.addEventListener('resize', function() {
        myChart.resize();
      });
    });
  }
}

// Call the initialize function when the document is ready
$(document).ready(function() {
  initializeEChart();
});
</script>

{% endblock %}
