name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    environment: build
    runs-on: ubuntu-latest
    timeout-minutes: 30
    concurrency:
      group: ci-${{ github.ref }}
      cancel-in-progress: true

    defaults:
      run:
        shell: bash -l {0}

    steps:
    - name: Semantic Release PR Title Check
      uses: osl-incubator/semantic-release-pr-title-check@v1.4.2
      with:
        convention-name: conventionalcommits 

    - uses: actions/checkout@v4

    - name: Free Disk Space (Ubuntu)
      uses: jlumbroso/free-disk-space@main
      with:
        tool-cache: true
        android: true
        dotnet: true
        haskell: true
        large-packages: true
        docker-images: true
        swap-storage: true

    - uses: conda-incubator/setup-miniconda@v3
      with:
        miniforge-version: latest
        environment-file: conda/base.yaml
        channels: conda-forge,nodefaults
        activate-environment: mosqlimate
        auto-update-conda: true
        conda-solver: libmamba

    - name: Install dependencies
      run: |
        poetry install --no-root

    - name: Clean Conda Cache
      run: |
        conda clean --all --yes

    - name: Linting
      run: |
        pre-commit install
        pre-commit run --all-files

    - name: Build containers
      run: |
        python contrib/scripts/do_dotenv.py
        python contrib/scripts/do_psqlconf.py

    - name: Start containers
      run: |
        docker network create infodengue-dev_infodengue
        sugar compose up --options -d

    # Datastore models mostly consist in External db connections
    # - name: Test datastore
    #   run: |
    #     makim django.test --app datastore

    # - name: Test registry
    #   run: |
    #     sugar run --service django --cmd "python manage.py test -v 2 registry"

    # - name: Container wait
    #   run: |
    #      make container-wait-all
    
    # TODO remove it
    - name: Setup tmate session
      if: "${{ failure() }}"
      uses: mxschmitt/action-tmate@v3
