name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  
jobs:
  build:
    environment: build
    env:
      CI: 1 # anything but falsy values
      INFODENGUE_POSTGRES_URI: TODO # ${{ secrets.INFODENGUEDEV_POSTGRES_URI }}
      GITHUB_CLIENT_ID: TODO # ${{ secrets.PROVISORY_GITHUB_CLIENT_ID }}
      GITHUB_SECRET: TODO # ${{ secrets.PROVISORY_GITHUB_SECRET }}
      EMAIL_HOST_PASSWORD: TODO
    runs-on: ubuntu-latest
    timeout-minutes: 30
    concurrency:
      group: ci-${{ github.ref }}
      cancel-in-progress: true

    defaults:
      run:
        shell: bash -l {0}

    steps:
    - name: Semantic Release PR Title Check
      uses: osl-incubator/semantic-release-pr-title-check@v1.4.2
      with:                                   
        convention-name: conventionalcommits 

    - uses: actions/checkout@v2

    - uses: conda-incubator/setup-miniconda@v2
      with:
        miniconda-version: "latest"
        mamba-version: "*"
        environment-file: conda/base.yaml
        channels: conda-forge,nodefaults
        activate-environment: mosqlimate
        use-mamba: true
        miniforge-variant: Mambaforge

    - name: Install dependencies
      run: |
        # https://github.com/yaml/pyyaml/issues/724
        pip install "cython<3.0.0" 
        pip install --no-build-isolation "pyyaml<6.0"
        poetry install

    - name: Linting
      run: |
        pre-commit install
        pre-commit run --all-files

    - name: Build containers
      run: |
        makim dev.dotenv
        makim dev.psql-conf
        makim docker.build

    - name: Start containers
      run: |
        makim docker.start

    - name: Test datastore
      run: |
        makim django.test --app datastore

    - name: Test registry
      run: |
        sugar run --service django --cmd "python manage.py test -v 2 registry.tests.test_api"
        sugar run --service django --cmd "python manage.py test -v 2 registry.tests.test_validations"

    # - name: Container wait
    #   run: |
    #      make container-wait-all
    
    # TODO remove it
    # - name: Setup tmate session
    #   if: "${{ failure() }}"
    #   uses: mxschmitt/action-tmate@v3
