name: Ping Services Discord Bot
on:
  schedule:
    - cron:  "0 */3 * * *"

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Ping Service
      env:
        DISCORD_WEBHOOK: ${{ secrets.DiscordWebhook }}
      run: |
        export DISCORD_WEBHOOK=$DISCORD_WEBHOOK
        python contrib/scripts/ping_mosqlimate.py
