name: Release
on:
  workflow_dispatch:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    timeout-minutes: 10

    permissions:
      issues: write
      pull-requests: write
      contents: write

    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive

      - uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Run semantic release (for tests)
        if: ${{ github.event_name != 'workflow_dispatch' }}
        run: |
          npx --yes \
            -p semantic-release \
            -p conventional-changelog-conventionalcommits \
            -p "@semantic-release/commit-analyzer" \
            -p "@semantic-release/release-notes-generator" \
            -p "@semantic-release/changelog" \
            -p "@semantic-release/github" \
            -p "@semantic-release/git" \
            -p "semantic-release-replace-plugin@1.2.7" \
            semantic-release --dry-run --branches main

      - name: Release command
        if: ${{ github.event_name == 'workflow_dispatch' }}
        run: |
          npx --yes \
            -p semantic-release \
            -p conventional-changelog-conventionalcommits \
            -p "@semantic-release/commit-analyzer" \
            -p "@semantic-release/release-notes-generator" \
            -p "@semantic-release/changelog" \
            -p "@semantic-release/github" \
            -p "@semantic-release/git" \
            -p "semantic-release-replace-plugin@1.2.7" \
            semantic-release --debug --ci --branches main
